@model Coinco.SMS.Website.Models.RepairType
@using Telerik.Web.Mvc.UI
@using Telerik.Web.Mvc
@{
    ViewBag.Title = "RepairLines";
}
<div class="pageCointainerRL">
    <div class="addLinesDivRL">
        <div class="addLineleftcolumnRL">
            <h6>
                Identification</h6>
            <br />
            @Html.Label("Service Order:", new { @class = "labelHeaderView", id = "serviceOrderLabel" })
            @Html.Label(TempData["ServiceOrderId"].ToString(), new { @class = "labelViewSO", id = "serviceOrderNo" })
            <br />
            @Html.Label("Serial Number:", new { @class = "labelHeaderSPView", id = "serialHeadLabel" })
            @{Html.Telerik().ComboBox().Name("serialNumberList")
                     .BindTo((SelectList)ViewData["SerialNumberList"])
                     .Placeholder("--Select--")
                 .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .ClientEvents(e => e.OnChange("onSerialNumberChange"))
                 .SelectedIndex(0)
                 .Render();
            }
            <span class="mandatory" style="vertical-align: text-top">*</span>
            <br />
            <div id="partNumber">
                @{Html.RenderPartial("PartNumber", Model.ServiceOrderLine);}
            </div>
            <br />
        </div>
        <div class="addLinecentercolumnRL">
            <h6>
                Symptom</h6>
            <br />
            @Html.Label("Condition:", new { @class = "labelHeaderSPView", id = "conditionHeadLabel" })
            @{Html.Telerik().ComboBox().Name("conditionList")
                        .BindTo((SelectList)ViewData["Condition"])
                        .Placeholder("--Select--")
                 .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .SelectedIndex(0)
                 .Render();
            }
            <span class="mandatory" style="vertical-align: text-top">*</span>
            <br />
            @Html.Label("Symptom Area:", new { @class = "labelHeaderSPView", id = "SymptomHeadLabel" })
            @{Html.Telerik().ComboBox().Name("symptomAreaList")
                       .BindTo((SelectList)ViewData["SymptomArea"])
                       .Placeholder("--Select--")
                 .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
                // .CascadeTo("symptomCodeList")
                  .ClientEvents(events => events.OnChange("onSymtomAreaChange"))
                 .SelectedIndex(0)
                 .Render();
            }
            <span class="mandatory" style="vertical-align: text-top">*</span>
            <br />
            @Html.Label("Symptom Code:", new { @class = "labelHeaderSPView", id = "SymptomCodeHeadLabel" })
            @{Html.Telerik().ComboBox().Name("symptomCodeList")
                       .DataBinding(binding => binding.Ajax().Select("_GetDropDownSymptomCode", "RepairLines"))
                       .Placeholder("--Select--")
                 .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
                   .ClientEvents(events => events.OnError("onSymtomArea_OnError"))
                 .SelectedIndex(0)
                 .Render();
            }
            <span class="mandatory" style="vertical-align: text-top">*</span>
            <br />
        </div>
        <div class="addLineRightcolumnRL">
            <h6>
                Execution</h6>
            <br />
            @Html.Label("Repair Stage:", new { @class = "labelHeaderSPView", id = "RepairHeadLabel" })
            @{Html.Telerik().ComboBox().Name("repairStageList")
                     .BindTo((SelectList)ViewData["RepairStage"])
                     .Placeholder("--Select--")
                 .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .SelectedIndex(0)
                 .Render();
            }
            <br />
            @Html.Label("Technician:", new { @class = "labelHeaderSPView", id = "techniacianRepairHeadLabel" })
            @{Html.Telerik().ComboBox().Name("technicianList")
                     .BindTo((SelectList)ViewData["ServiceTechnicianList"])
                     .Placeholder("--Select--")
                 .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .SelectedIndex(0)
                 .Render();
            }
            <br />
            @Html.Label("Comments:", new { @class = "labelHeaderSPView", id = "commentsHeadLabel" })
            @Html.TextAreaFor(x => x.Comments, new { id = "commentsTextBox" })
            <br />
        </div>
    </div>
    <div class="addLinesDivRL1">
        <div class="addLineleftcolumnRL">
            <br />
            <h6>
                Description</h6>
            <br />
            @Html.Label("Description:", new { @class = "labelHeaderSPView", id = "DescriptionHeadLabel" })
            @Html.TextAreaFor(x => x.Description, new { id = "descriptionTextBox" })
            <span class="mandatory" style="vertical-align: text-top">*</span>
            <br />
            @Html.TextBoxFor(x => x.UniqueId, new { @class = "singleTextBox", id = "uniqueText", @type = "hidden" })
        </div>
        <div class="addLinecentercolumnRL">
            <br />
            <h6>
                Diagnosis</h6>
            <br />
            @Html.Label("Diagnosis Area:", new { @class = "labelHeaderSPView", id = "DiagnosisHeadLabel" })
            @{Html.Telerik().ComboBox().Name("diagnosisAreaList")
                       .BindTo((SelectList)ViewData["DiagnosisArea"])
                       .Placeholder("--Select--")
                 .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 //.CascadeTo("diagnosisCodeList")
                  .ClientEvents(events => events.OnChange("ondiagnosisCodeChange"))
                 .SelectedIndex(0)
                 .Render();
            }
            <br />
            @Html.Label("Diagnosis Code:", new { @class = "labelHeaderSPView", id = "DiagnosisCodeHeadLabel" })
            @{Html.Telerik().ComboBox().Name("diagnosisCodeList")
                       .DataBinding(binding => binding.Ajax().Select("_GetDropDownDiagnosisCode", "RepairLines"))
                       .Placeholder("--Select--")
                 .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .SelectedIndex(0)
                  .ClientEvents(events => events.OnError("ondiagnosisCode_OnError"))
                 .Render();
            }
            <br />
            @Html.Label("Resolution:", new { @class = "labelHeaderSPView", id = "ResolutuinHeadLabel" })
            @{Html.Telerik().ComboBox().Name("resolutionList")
                     .BindTo((SelectList)ViewData["Resolution"])
                     .Placeholder("--Select--")
                 .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
                 .SelectedIndex(0)
                 .Render();
            }
            <br />
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div id="SubmitResult" class="centercolumnSubmitRL">
        @{
            if (@Session["SOStatus"].ToString() == "In Process")
            { 
            <button class="t-button" type="button" id="submit" value="submit">
                Add</button>
            <button class="t-button" type="button" id="Clear" value="Clear">
                Clear</button>
            }
      
        }
    </div>
    <div id="divRepairLinesGrid" class="addLinesDivGrid">
        @{Html.RenderPartial("RepairLineDetails");}
    </div>
</div>
<script type="text/javascript">


    function onSerialNumberChange(e) {
        if (e != null) {
            var serialNumber = e.currentTarget.value;
//            if (serialNumber == "") 
//            {
//                $('#submit').attr('disabled', true);
//            }
//            else 
//            {
//                $('#submit').attr('disabled', false);
//            }

            jQuery.ajax({
                url: "../RepairLines/getPartNumber",
                type: 'GET',
                data: { serialNumber: serialNumber },
                success: function (result) {
                    jQuery('#partNumber').html(result);
                },
                error: function (result) {
                    alert(result.responseText);
                }

            });


            return false;
        }
    }

    jQuery('#submit').click(function () {

        $('#submit').attr('disabled', true);
        var uniqueId = $('#uniqueText').val();
        if (uniqueId == '') {

            var serviceOrderNo = $('#serviceOrderNo')[0].innerHTML;

            var serialNumberList;
            if ($('#serialNumberList').data('tComboBox').value() != null && $('#serialNumberList').data('tComboBox').value() != "" && $('#serialNumberList').data('tComboBox').selectedIndex != -1) {
                var serialNumberListdata = $('#serialNumberList').data('tComboBox').data[$('#serialNumberList').data('tComboBox').selectedIndex];

                serialNumberList = serialNumberListdata.Value;
            }
            else {

                serialNumberList = "";
            }

            //        var serialNumberList = $("#serialNumberList").val();
            //var conditionId = $('#conditionList').val();
            var conditionId;
            if ($('#conditionList').data('tComboBox').value() != null && $('#conditionList').data('tComboBox').value() != "" && $('#conditionList').data('tComboBox').selectedIndex != -1) {
                var conditionListdata = $('#conditionList').data('tComboBox').data[$('#conditionList').data('tComboBox').selectedIndex];

                conditionId = conditionListdata.Value;
            }
            else {

                conditionId = "";
            }

            var symptomAreaId;
            if ($('#symptomAreaList').data('tComboBox').value() != null && $('#symptomAreaList').data('tComboBox').value() != "" && $('#symptomAreaList').data('tComboBox').selectedIndex != -1) {
                var symptomAreaListdata = $('#symptomAreaList').data('tComboBox').data[$('#symptomAreaList').data('tComboBox').selectedIndex];

                symptomAreaId = symptomAreaListdata.Value;
            }
            else {

                symptomAreaId = "";
            }


            var symptomCodeId;
            if ($('#symptomCodeList').data('tComboBox').value() != null && $('#symptomCodeList').data('tComboBox').value() != "" && $('#symptomCodeList').data('tComboBox').selectedIndex != -1) {
                var symptomCodeIddata = $('#symptomCodeList').data('tComboBox').data[$('#symptomCodeList').data('tComboBox').selectedIndex];

                symptomCodeId = symptomCodeIddata.Value;
            }
            else {

                symptomCodeId = "";
            }
            //        var symptomAreaId = $('#symptomAreaList').val();
            //var symptomCodeId = $('#symptomCodeList').val();

            var description = $('#descriptionTextBox').val();
            var serviceComments = $('#commentsTextBox').val();
            var uniqueId = $('#uniqueText').val();

            if (serialNumberList == "--Select--" | serialNumberList == "") {
                alert('Please select the Serial Number.');
                $('#submit').attr('disabled', false);
                return
            }
            else if (conditionId == "--Select--" | conditionId == "") {

                alert('Please select the Condition.');
                $('#submit').attr('disabled', false);
                return
            }
            else if (symptomAreaId == "--Select--" | symptomAreaId == "") {

                alert('Please select the Symptom Area.');
                $('#submit').attr('disabled', false);
                return
            }
            else if (symptomCodeId == "--Select--" | symptomCodeId == "") {

                alert('Please select the Symptom Code.');
                $('#submit').attr('disabled', false);
                return
            }
            else if (description == "") {
                alert('Please provide the Description.');
                $('#submit').attr('disabled', false);
                return
            }

            var diagnosisAreaId;
            if ($('#diagnosisAreaList').data('tComboBox').value() != null && $('#diagnosisAreaList').data('tComboBox').value() != "" && $('#diagnosisAreaList').data('tComboBox').selectedIndex != -1) {
                var diagnosisAreadata = $('#diagnosisAreaList').data('tComboBox').data[$('#diagnosisAreaList').data('tComboBox').selectedIndex];
                diagnosisAreaId = diagnosisAreadata.Value;
            }
            else {
                alert('Invalid Diagnosis Area.');
                $('#submit').attr('disabled', false);
                return;
            }


            var diagnosisCodeId;
            if ($('#diagnosisCodeList').data('tComboBox').value() != null && $('#diagnosisCodeList').data('tComboBox').value() != "" && $('#diagnosisCodeList').data('tComboBox').selectedIndex != -1) {
                var diagnosisCodedata = $('#diagnosisCodeList').data('tComboBox').data[$('#diagnosisCodeList').data('tComboBox').selectedIndex];
                diagnosisCodeId = diagnosisCodedata.Value;
            }
            else {
                alert('Invalid Diagnosis Code.');
                $('#submit').attr('disabled', false);
                return;
            }

      
            var resolutionId;
            if ($('#resolutionList').data('tComboBox').value() != null && $('#resolutionList').data('tComboBox').value() != "" && $('#resolutionList').data('tComboBox').selectedIndex != -1) {

                var resolutionListdata = $('#resolutionList').data('tComboBox').data[$('#resolutionList').data('tComboBox').selectedIndex];
                resolutionId = resolutionListdata.Value;
            }


            else {
                alert('Invalid Resolution.');
                $('#submit').attr('disabled', false);
                return;
            }


            var repairStageId;
            if ($('#repairStageList').data('tComboBox').value() != null && $('#repairStageList').data('tComboBox').value() != "" && $('#repairStageList').data('tComboBox').selectedIndex != -1) {

                var repairStageListdata = $('#repairStageList').data('tComboBox').data[$('#repairStageList').data('tComboBox').selectedIndex];
                repairStageId = repairStageListdata.Value;
            }


            else {
                alert('Invalid Repair Stage.');
                $('#submit').attr('disabled', false);
                return;
            }

            var technicianNo;
            if ($('#technicianList').data('tComboBox').value() != null && $('#technicianList').data('tComboBox').value() != "" && $('#technicianList').data('tComboBox').selectedIndex != -1) {

                var technicinanNodata = $('#technicianList').data('tComboBox').data[$('#technicianList').data('tComboBox').selectedIndex];
                technicianNo = technicinanNodata.Value;
            }


            else {
                alert('Invalid Technician.');
                $('#submit').attr('disabled', false);
                return;
            }

            //        var diagnosisAreaId = $('#diagnosisAreaList').val();
            //        var diagnosisCodeId = $('#diagnosisCodeList').val();
            //        var resolutionId = $('#resolutionList').val();
            // var repairStageId = $('#repairStageList').val();
            //  var technicianNo = $('#technicianList').val();

            //        else {
            //            if (conditionId == "--Select--") {
            //                conditionId = "";
            //            }
            //            if (symptomAreaId == "--Select--") {
            //                symptomAreaId = "";
            //            }
            //            if (symptomCodeId == "--Select--") {
            //                symptomCodeId = "";
            //            }
            if (diagnosisAreaId == "--Select--") {
                diagnosisAreaId = "";
            }
            if (diagnosisCodeId == "--Select--") {
                diagnosisCodeId = "";
            }
            if (resolutionId == "--Select--") {
                resolutionId = "";
            }
            if (repairStageId == "--Select--") {
                repairStageId = "";
            }
            if (technicianNo == "--Select--") {
                technicianNo = "";
            }


            jQuery.ajax({
                url: "../RepairLines/CreateRepairLineItems",
                type: 'POST',

                data: {
                    serviceOrderNo: serviceOrderNo,
                    serialNumberList: serialNumberList,
                    conditionId: conditionId,
                    symptomAreaId: symptomAreaId,
                    symptomCodeId: symptomCodeId,
                    diagnosisAreaId: diagnosisAreaId,
                    diagnosisCodeId: diagnosisCodeId,
                    resolutionId: resolutionId,
                    repairStageId: repairStageId,
                    technicianNo: technicianNo,
                    description: description,
                    serviceComments: serviceComments
                },
                success: function (result) {
                    jQuery('#divRepairLinesGrid').html(result);
                    alert('Repair Line Created Successfully');
                    $('#serialNumberList').data("tComboBox").value("--Select--");
                    $('#lblPartNumber').text("");
                    $('#conditionList').data("tComboBox").value("--Select--");
                    $('#symptomAreaList').data("tComboBox").value("--Select--");
                    $('#symptomCodeList').data("tComboBox").value("--Select--");
                    $('#diagnosisAreaList').data("tComboBox").value("--Select--");
                    $('#diagnosisCodeList').data("tComboBox").value("--Select--");
                    $('#resolutionList').data("tComboBox").value("--Select--");
                    $('#repairStageList').data("tComboBox").value("--Select--");
                    //$('#technicianList').data("tComboBox").value("--Select--");
                    $('#descriptionTextBox').val('');
                    $('#commentsTextBox').val('');
                    $('#submit').attr('disabled', false);
                },
                error: function (result) {
                    alert(result.responseText);
                }

            });
        }
        else {
            var serviceOrderNo = $('#serviceOrderNo')[0].innerHTML;
            var serialNumberList = $("#serialNumberList").val();
//            var conditionId = $('#conditionList').val();
//            var symptomAreaId = $('#symptomAreaList').val();
//            var symptomCodeId = $('#symptomCodeList').val();
//            var diagnosisAreaId = $('#diagnosisAreaList').val();
//            var diagnosisCodeId = $('#diagnosisCodeList').val();
//            var resolutionId = $('#resolutionList').val();
//            var repairStageId = $('#repairStageList').val();
            //            var technicianNo = $('#technicianList').val();
            var conditionId;
            if ($('#conditionList').data('tComboBox').value() != null && $('#conditionList').data('tComboBox').value() != "" && $('#conditionList').data('tComboBox').selectedIndex != -1) {
                var conditionListdata = $('#conditionList').data('tComboBox').data[$('#conditionList').data('tComboBox').selectedIndex];

                conditionId = conditionListdata.Value;
            }
            else {

                alert('Invalid Condition. ');
                $('#submit').attr('disabled', false);
                return;
            }

            var symptomAreaId;
            if ($('#symptomAreaList').data('tComboBox').value() != null && $('#symptomAreaList').data('tComboBox').value() != "" && $('#symptomAreaList').data('tComboBox').selectedIndex != -1) {
                var symptomAreaListdata = $('#symptomAreaList').data('tComboBox').data[$('#symptomAreaList').data('tComboBox').selectedIndex];

                symptomAreaId = symptomAreaListdata.Value;
            }
            else {

                alert('Invalid Symtpom Area. ');
                $('#submit').attr('disabled', false);
                return;
            }


            var symptomCodeId;
            if ($('#symptomCodeList').data('tComboBox').value() != null && $('#symptomCodeList').data('tComboBox').value() != "" && $('#symptomCodeList').data('tComboBox').selectedIndex != -1) {
                var symptomCodeIddata = $('#symptomCodeList').data('tComboBox').data[$('#symptomCodeList').data('tComboBox').selectedIndex];

                symptomCodeId = symptomCodeIddata.Value;
            }
            else {


                alert('Invalid Symtpom Code. ');
                $('#submit').attr('disabled', false);
                return;
            }
            var diagnosisAreaId;
            if ($('#diagnosisAreaList').data('tComboBox').value() != null && $('#diagnosisAreaList').data('tComboBox').value() != "" && $('#diagnosisAreaList').data('tComboBox').selectedIndex != -1) {
                var diagnosisAreadata = $('#diagnosisAreaList').data('tComboBox').data[$('#diagnosisAreaList').data('tComboBox').selectedIndex];
                diagnosisAreaId = diagnosisAreadata.Value;
            }
            else {
                alert('Invalid Diagnosis Area.');
                $('#submit').attr('disabled', false);
                return;
            }


            var diagnosisCodeId;
            if ($('#diagnosisCodeList').data('tComboBox').value() != null && $('#diagnosisCodeList').data('tComboBox').value() != "" && $('#diagnosisCodeList').data('tComboBox').selectedIndex != -1) {
                var diagnosisCodedata = $('#diagnosisCodeList').data('tComboBox').data[$('#diagnosisCodeList').data('tComboBox').selectedIndex];
                diagnosisCodeId = diagnosisCodedata.Value;
            }
            else {
                alert('Invalid Diagnosis Code.');
                $('#submit').attr('disabled', false);
                return;
            }


            var resolutionId;
            if ($('#resolutionList').data('tComboBox').value() != null && $('#resolutionList').data('tComboBox').value() != "" && $('#resolutionList').data('tComboBox').selectedIndex != -1) {

                var resolutionListdata = $('#resolutionList').data('tComboBox').data[$('#resolutionList').data('tComboBox').selectedIndex];
                resolutionId = resolutionListdata.Value;
            }


            else {
                alert('Invalid Resolution.');
                $('#submit').attr('disabled', false);
                return;
            }


            var repairStageId;
            if ($('#repairStageList').data('tComboBox').value() != null && $('#repairStageList').data('tComboBox').value() != "" && $('#repairStageList').data('tComboBox').selectedIndex != -1) {

                var repairStageListdata = $('#repairStageList').data('tComboBox').data[$('#repairStageList').data('tComboBox').selectedIndex];
                repairStageId = repairStageListdata.Value;
            }


            else {
                alert('Invalid Repair Stage.');
                $('#submit').attr('disabled', false);
                return;
            }

            var technicianNo;
            if ($('#technicianList').data('tComboBox').value() != null && $('#technicianList').data('tComboBox').value() != "" && $('#technicianList').data('tComboBox').selectedIndex != -1) {

                var technicinanNodata = $('#technicianList').data('tComboBox').data[$('#technicianList').data('tComboBox').selectedIndex];
                technicianNo = technicinanNodata.Value;
            }


            else {
                alert('Invalid Technician.');
                $('#submit').attr('disabled', false);
                return;
            }
            var description = $('#descriptionTextBox').val();
            var serviceComments = $('#commentsTextBox').val();
            var uniqueId = $('#uniqueText').val();


            if (conditionId == "--Select--") {
                conditionId = "";
            }
            if (symptomAreaId == "--Select--") {
                symptomAreaId = "";
            }
            if (symptomCodeId == "--Select--") {
                symptomCodeId = "";
            }
            if (diagnosisAreaId == "--Select--") {
                diagnosisAreaId = "";
            }
            if (diagnosisCodeId == "--Select--") {
                diagnosisCodeId = "";
            }
            if (resolutionId == "--Select--") {
                resolutionId = "";
            }
            if (repairStageId == "--Select--") {
                repairStageId = "";
            }
            if (technicianNo == "--Select--") {
                technicianNo = "";
            }
            jQuery.ajax({
                url: "../RepairLines/UpdateRepairLineItems",
                type: 'POST',

                data: {
                    uniqueId: uniqueId,
                    serviceOrderNo: serviceOrderNo,
                    serialNumberList: serialNumberList,
                    conditionId: conditionId,
                    symptomAreaId: symptomAreaId,
                    symptomCodeId: symptomCodeId,
                    diagnosisAreaId: diagnosisAreaId,
                    diagnosisCodeId: diagnosisCodeId,
                    resolutionId: resolutionId,
                    repairStageId: repairStageId,
                    technicianNo: technicianNo,
                    description: description,
                    serviceComments: serviceComments
                },
                success: function (result) {
                    jQuery('#divRepairLinesGrid').html(result);

                    alert('Repair Line Updated Successfully');
                    $('#serialNumberList').data("tComboBox").value("--Select--");
                    $('#lblPartNumber').text("");
                    $('#conditionList').data("tComboBox").value("--Select--");
                    $('#symptomAreaList').data("tComboBox").value("--Select--");
                    $('#symptomCodeList').data("tComboBox").value("--Select--");
                    $('#diagnosisAreaList').data("tComboBox").value("--Select--");
                    $('#diagnosisCodeList').data("tComboBox").value("--Select--");
                    $('#resolutionList').data("tComboBox").value("--Select--");
                    $('#repairStageList').data("tComboBox").value("--Select--");
                   // $('#technicianList').data("tComboBox").value("--Select--");
                    $('#descriptionTextBox').val('');
                    $('#commentsTextBox').val('');
                    $('#submit').text('Add');
                    $('#uniqueText').val('');
                    $("#serialNumberList").data("tComboBox").enable();
                    $('#serialNumberList').removeClass('t-state-disabled').removeAttr('disabled',
                'disabled');
//                    $('#conditionList').data('tComboBox').enable();
//                    $('#conditionList').removeClass('t-state-disabled').removeAttr('disabled',
//                'disabled');
//                    $('#symptomAreaList').data("tComboBox").enable();
//                    $('#symptomAreaList').removeClass('t-state-disabled').removeAttr('disabled',
//                'disabled');
//                    $('#symptomCodeList').data('tComboBox').enable();
//                    $('#symptomCodeList').removeClass('t-state-disabled').removeAttr('disabled',
//                'disabled');
//                    $('#technicianList').data('tComboBox').enable();
//                    $('#technicianList').removeClass('t-state-disabled').removeAttr('disabled',
//                'disabled');
                    $('#submit').attr('disabled', false);
                },
                error: function (result) {
                    alert(result.responseText);
                }

            });

        }
        return false;
    });

    jQuery('#Clear').click(function () {

        $('#submit').text('Add');
        $('#submit').attr('disabled', false);
        $('#uniqueText').val('');
        $('#conditionList').data("tComboBox").value("--Select--");
        $('#symptomAreaList').data("tComboBox").value("--Select--");
        $('#symptomCodeList').data("tComboBox").value("--Select--");
        $('#diagnosisAreaList').data("tComboBox").value("--Select--");
        $('#diagnosisCodeList').data("tComboBox").value("--Select--");
        $('#resolutionList').data("tComboBox").value("--Select--");
        $('#repairStageList').data("tComboBox").value("--Select--");
       // $('#technicianList').data("tComboBox").value("--Select--");
        $('#descriptionTextBox').val('');
        $('#commentsTextBox').val('');
        $('#serialNumberList').data("tComboBox").value("--Select--");
        $('#lblPartNumber').text("");
        $("#serialNumberList").data("tComboBox").enable();
        $('#serialNumberList').removeClass('t-state-disabled').removeAttr('disabled',
                'disabled');
//        $('#conditionList').data('tComboBox').enable();
//        $('#conditionList').removeClass('t-state-disabled').removeAttr('disabled',
//                'disabled');
//        $('#symptomAreaList').data("tComboBox").enable();
//        $('#symptomAreaList').removeClass('t-state-disabled').removeAttr('disabled',
//                'disabled');
//        $('#symptomCodeList').data('tComboBox').enable();
//        $('#symptomCodeList').removeClass('t-state-disabled').removeAttr('disabled',
//                'disabled');
//        $('#technicianList').data('tComboBox').enable();
//        $('#technicianList').removeClass('t-state-disabled').removeAttr('disabled',
//                'disabled');
    });

    function onSymtomAreaChange(e) {

   
        var symptomArea = $('#symptomAreaList').val();

        if (symptomArea != "") {
            var getSymtomCode = $('#symptomCodeList').data('tComboBox');
            getSymtomCode.loader.showBusy();

            jQuery.ajax({
                url: "../RepairLines/_GetDropDownSymptomCode",
                type: 'GET',
                data: { symptomAreaList: symptomArea },
                success: function (result) {
                    getSymtomCode.dataBind(result);
                    getSymtomCode.loader.hideBusy();
                    getSymtomCode.select(0);

                },
                error: function (result) {
                    alert(result.responseText);
                }


            });
        }

        return false;

    }


    function onSymtomArea_OnError(e) {
        var combobox = $(this).data('tComboBox'); // $(this) is equivalent to $('#ComboBox')

        //the current XMLHttpRequest object
        var xhr = e.XMLHttpRequest;
        //the text status of the error - 'timeout', 'error' etc.
        var status = e.textStatus;

        if (status == 'error') {
            //xhr.status is the HTTP code returned by the server
            if (xhr.status == "404") {
                //                alert("Select the Specailty Code")
            }
        }

        //To prevent the default error handling (which is to alert the error message) you can call `preventDefault`

        e.preventDefault();
    }

    function ondiagnosisCodeChange(e) {


        var diagnosisArea = $('#diagnosisAreaList').val();

        if (diagnosisArea != "") {
            var getdiagnosisCode = $('#diagnosisCodeList').data('tComboBox');
            getdiagnosisCode.loader.showBusy();

            jQuery.ajax({
                url: "../RepairLines/_GetDropDownDiagnosisCode",
                type: 'GET',
                data: { diagnosisAreaList: diagnosisArea },
                success: function (result) {
                    getdiagnosisCode.dataBind(result);
                    getdiagnosisCode.loader.hideBusy();
                    getdiagnosisCode.select(0);

                },
                error: function (result) {
                    alert(result.responseText);
                }


            });
        }

        return false;

    }

    function ondiagnosisCode_OnError(e) {
        var combobox = $(this).data('tComboBox'); // $(this) is equivalent to $('#ComboBox')

        //the current XMLHttpRequest object
        var xhr = e.XMLHttpRequest;
        //the text status of the error - 'timeout', 'error' etc.
        var status = e.textStatus;

        if (status == 'error') {
            //xhr.status is the HTTP code returned by the server
            if (xhr.status == "404") {
                //                alert("Select the Specailty Code")
            }
        }

        //To prevent the default error handling (which is to alert the error message) you can call `preventDefault`

        e.preventDefault();
    }
</script>
