@using Telerik.Web.Mvc
@model Coinco.SMS.Website.Models.ServiceOrder

@{
    ViewBag.Title = "CheckIn";
}

<div id="ServiceOrderAdditionDiv">
<div id="ServiceOrderDetailsDiv">
    <div id="Identification">
    <h6>Identification</h6>
        <div id="IdentificationDetails" class="fullViewforSmallerHeightClass">
    <div id="CustomerAccount" class="leftViewClass"> 
        <div id="CustomerAccountLabel" class="leftView" >
            @Html.Label("Customer Account", new { @class = "leftView" } )
        </div>
        <div id="CustomerAccountDropDown" class="leftadjacentView">          
               @Html.DropDownListFor(p => p.Customer, (SelectList)ViewData["CustomerList"], "<--Select One-->", new { @class = "dropDownProperties", id = "customerAccountDropDownList"})
            
            

        </div>
    </div>
    </div>
    <br />
    <div id="Address" class="fullViewforLargerHeightClass">
           GetCustomerAddress();
    </div>
    </div>
    <h6>Other Details</h6>
    <div id="OtherDetails" class="fullViewforMediumHeightClass">
    <div id="CustomerComments" class="leftViewClass"> 
        <div id="CustomerCommentLabel" class="leftView" >
            @Html.Label("Customer Comments", new { @class = "leftView" })
        </div>
        <div id="CustomerCommentTextBox" class="leftadjacentView">
  
            @Html.TextAreaFor(p=>p.Comments, new { @class = "textAreaProperties", id = "customerCommentTextArea" }) 

        </div>
    </div>

    <div id="CustomerPO" class="rightViewClass"> 
        <div id="CustomerPOLabel" class="rightView" >
            @Html.Label("Customer PO", new { @class = "rightView" })
        </div>
        <div id="CustomerPOTextBox" class="rightadjacentView">
  
                 @Html.TextBoxFor(p=>p.CustomerPO, new { @class = "textBoxProperties",id="customerPOTextBox" }) 

        </div>
    </div>
    <br />
        <div id="ServiceTechnician" class="rightViewClass"> 
        <div id="ServiceTechnicianLabel" class="rightView" >
            @Html.Label("Service Technician", new { @class = "rightView" })
        </div>
        <div id="ServiceTechnicianDropDown" class="rightadjacentView">
                 @Html.DropDownListFor(p=> p.ServiceTechnician, (SelectList)ViewData["ServiceTechnicianList"], "<--Select One-->", new { @class = "dropDownProperties", id = "serviceTechnicianDropDownList" })           

        </div>
    </div>
    </div>
    <div id="WOClassificationDetails" class="fullViewforSmallerHeightClass">
     <div id="WOClassification" class="leftViewClass"> 
        <div id="WOClassificationLabel" class="leftView" >
            @Html.Label("WO Classification", new { @class = "leftView" })
        </div>
        <div id="WOClassificationDropDown" class="leftadjacentView">
            
                @Html.DropDownListFor(p => p.WOClassification, (SelectList)ViewData["WOClassificationList"], "<--Select One-->", new { @class = "dropDownProperties", id = "woClassificationDropDownList" })
            
        </div>
    </div>

      <div id="ServiceResponsible" class="rightViewClass"> 
        <div id="ServiceResponsibleLabel" class="rightView" >
            @Html.Label("Service Responsible", new { @class = "rightView" })
        </div>
        <div id="ServiceResponsibleDropDown" class="rightadjacentView">
  
               @Html.DropDownListFor(p => p.ServiceResponsible, (SelectList)ViewData["ServiceResponsibleList"], "<--Select One-->", new { @class = "dropDownProperties", id = "serviceResponsibleDropDownList" })

        </div>
    </div>
    
    </div>
            <h6>Check In Data</h6>
        <div id="CheckInData" class="fullViewThreeColumnforSmallerHeightClass">
     <div id="SerialNumber" class="leftViewClass"> 
        <div id="SerialNumberLabel" class="leftView" >
            @Html.Label("Serial Number", new { @class = "leftView" })
        </div>
        <div id="SerialNumberTextBox" class="leftadjacentView">

                 @Html.TextBox("serialNumberTextBox","",  new { @class = "textBoxProperties" }) 
        </div>
    </div>

       <div id="PartNumber" class="rightViewClassforThirdColumn"> 
        <div id="PartNumberLabel" class="rightView" >
            @Html.Label("Part Number", new { @class = "rightView" })
        </div>
        <div id="PartNumberDropDown" class="rightadjacentView">
  
               @Html.DropDownList("partNumberDropDownList", (SelectList)ViewData["PartNumberList"], "<--Select One-->", new { @class = "dropDownProperties" })
             
        </div>
         <div id="AddButton" class="rightViewforThirdColumn" >
                    <button class="t-button" type="button" id="Add" value="Add">Add</button>

        </div>
    </div>
    </div>
  </div> 
  <br />
    <div id="ServiceOrderGridDiv">
        GetServiceOrderLinesHistory();
        
  </div> 
  <br />
  <div id="SubmitResult" class="submitResultClass"> 
                     <button class="t-button" type="button" id="Create" value="Create">Create</button>
                      
                    <button class="t-button" type="button" id="Clear" value="Clear">Clear</button>


  </div>
                      <br />
  </div>

  <script type="text/javascript">
      jQuery('#customerAccountDropDownList').change(function () {
          var customerAccount = $(this).val();
          jQuery.ajax({
              url: "/CheckIn/GetCustomerAddresses",
              type: 'GET',
              data: { customerAccount: customerAccount },
              success: function (result) {
                  jQuery('#Address').html(result);
              },
              error: function (result) {
                  alert(result.responseText);
              }

          });
          return false;
      });

      jQuery('#Add').click(function () {
          var partNumber = $('#partNumberDropDownList').val();
          var serialNumber = $('#serialNumberTextBox').val();
          jQuery.ajax({
              url: "/CheckIn/GetServiceOrderLinesHistoryBySerialNumberPartNumber",
              type: 'POST',
              data: { partNumber: partNumber,serialNumber: serialNumber },
              success: function (result) {
                  jQuery('#ServiceOrderGridDiv').html(result);
              },
              error: function (result) {
                  alert(result.responseText);
              }

          });
          return false;
      });
      
          jQuery(function GetCustomerAddress(e) {

              var customerAccount = null;
              //var dropDownList = $('#customerAccountDropDownList').data('tDropDownList');
              jQuery.ajax({
                  url: "/CheckIn/GetCustomerAddresses",
                  type: 'GET',
                  data: { customerAccount: customerAccount },
                  success: function (result) {
                      jQuery('#Address').html(result);
                  },
                  error: function (result) {
                      alert(result.responseText);
                  }

              });
              return false;
          });

          jQuery(function GetServiceOrderLinesHistory() {

              var customerAccount = null;
              //var dropDownList = $('#customerAccountDropDownList').data('tDropDownList');
              jQuery.ajax({
                  url: "/CheckIn/GetServiceOrderLinesHistory",
                  type: 'GET',
                  data: { partNumber: "",serialNumber:"" },
                  success: function (result) {
                      jQuery('#ServiceOrderGridDiv').html(result);
                  },
                  error: function (result) {
                      alert(result.responseText);
                  }

              });
              return false;
          });

      function onDataBinding(e) {
          var dropDownList = jQuery('#customerAccountDropDownList').data('DropDownList');
          var customerAccount = dropDownList.value();
          e.data = jQuery.extend(e.data, { customerAccount: customerAccount });
      }

     
      
</script>