@using Telerik.Web.Mvc.UI

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>

    <meta charset="utf-8" />
    <title>@ViewBag.Title - Service Management System</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Scripts.Render("~/bundles/modernizr")

    @{Html.Telerik().StyleSheetRegistrar()
                    .DefaultGroup(group => group.Add("telerik.common.css")
                                            .Add("telerik.Office2010Blue.css")
                                            .Add("CoincoSite.css")
                                            .CacheDurationInDays(5)
                                            .Combined(false)
                                            .Compress(false)).Render();}

                                                                     
</head>
<body>
    <div class="page">
    <header>
  @*  <div class = "LayoutHeader">*@
                <div class ="headerImageClass">
                    <img src="~/Images/Coinco - Logo.png" alt="Coinco - Logo" />
                </div>
                <div class ="siteuserClass">
                    <div  class ="siteView">
                        <label class ="siteLabel"> Site: </label>
                          @{Html.RenderPartial("Sites");}
                    </div>
                    <div class ="userDetail">
                        <section id="login">
                                Hello, <span >@User.Identity.Name</span>!
                        </section>
                    </div>
                </div>
            
                <div class ="smsMenuHeader">
                        <div id="InProcess" class="ribbonIconBarClass" >
                                <a href="@Url.Action("ServiceOrderWithHistory", "WorkOrder", new { siteid = "", process = "0" })" style = "text-decoration:none;">
                                    <img class="imgClass" src="@Url.Content("~/Images/WorkOrder-Open.png")" alt="" />
                                    </a>
                        </div>
                        <div id="Posted" class="ribbonIconBarClass" >
                                <a href="@Url.Action("ServiceOrderWithHistory", "WorkOrder", new { siteid = "", process = "1" })" style = "text-decoration:none;">
                                    <img class="imgClass" src="@Url.Content("~/Images/WorkOrder-Posted.png")" alt=""/>
                                    </a>
                        </div>
               
                        <div id="Canceled" class="ribbonIconBarClass">
                                <a href="@Url.Action("ServiceOrderWithHistory", "WorkOrder", new { siteid = "", process = "2" })" style = "text-decoration:none;">
                                <img class="imgClass" src="@Url.Content("~/Images/WorkOrder-Closed.png")" alt=""/>  
                                </a>  
                       
                        </div>

                        <div id="CheckIN" class="ribbonIconBarClass" >
                                <a href="@Url.Action("CheckIn", "CheckIn")" style = "text-decoration:none;">
                                    <img class="imgClass" src="@Url.Content("~/Images/WorkOrder.png")" alt="" />
                                    </a>
                        </div>
                        <div id="RepairLines" class="ribbonIconBarClass">

                              <a id ="a_RepairLine" style = "text-decoration:none;">
                              <img class="imgClass" src="@Url.Content("~/Images/RepairLines.png")" alt=""/>
                              </a>
                        </div>
                        <div id="OrderProcess" class="ribbonIconBarClass">
                                  <a id ="a_OrderProcess" style = "text-decoration:none;">
                                <img class="imgClass" src="@Url.Content("~/Images/new.png")" alt="" />  
                                </a> 
                        </div>
                </div>
@*    </div>*@
    </header>
    <div id="Main" >

    @{ Html.Telerik().Window()
        .Name("SalesDetailsHistory")
        .Modal(true)
        .Title("Sales Details History")
        .Content(@<text>
        

        <div id="SalesDetailsHistory" class="salesHistory" >
              <label class="labelHeadingClass">Sales Information</label>
          

            <div id="firstSalesInfo" class="fullViewforSalesHistoryClass">

                <div id="SerialNumberParentDiv" class="leftSalesViewClass"> 
                    <div id="SerialNumberDiv" class="leftView" >
                        @Html.Label("Serial Number", new { @class = "leftView" })
                    </div>
                    <div id="SerialNumberResult" class="leftadjacentSalesView">
                        @Html.Label("Serial Number", new { @class = "leftView" , id="serialNumberLabel"})                  
                    </div>
                </div>
                 
                 <div id="Name" class="rightSalesViewClass"> 
                    <div id="nameDiv" class="rightView" >
                        @Html.Label("Name", new { @class = "rightView" })
                    </div>
                    <div id="nameResult" class="rightadjacentSalesView">                  
                          @Html.Label("Name", new { @class = "leftView" , id="nameLabel"})     
                    </div>
                </div>

            </div>

            <div id="secondSalesInfo" class="fullViewforSalesHistoryClass">
                <div id="ItemNumber" class="leftSalesViewClass"> 
                    <div id="ItemNumberDiv" class="leftView" >
                        @Html.Label("Item Number", new { @class = "leftView" })
                    </div>
                    <div id="ItemNumberResult" class="leftadjacentSalesView">                  
                        @Html.Label("Item Number", new { @class = "leftView" , id="itemNumberLabel"})     
                    </div>
                </div>
                 
                 <div id="InvoiceNumber" class="rightSalesViewClass"> 
                    <div id="invoiceNumberDiv" class="rightView" >
                        @Html.Label("Invoice Number", new { @class = "rightView" })
                    </div>
                    <div id="invoiceNumberResult" class="rightadjacentSalesView">                  
                                    @Html.Label("Invoice Number", new { @class = "leftView", id = "invoiceNumberLabel" })     
                    </div>
                </div>

            </div>

            <div id="thirdSalesInfo" class="fullViewforSalesHistoryClass">
                <div id="SalesOrder" class="leftSalesViewClass"> 
                    <div id="salesOrderDiv" class="leftView" >
                        @Html.Label("SalesOrder", new { @class = "leftView" })
                    </div>
                    <div id="SalesOrderResult" class="leftadjacentSalesView">                  
                        @Html.Label("Sales Order", new { @class = "leftView" , id="salesOrderLabel"})     
                    </div>
                </div>
                 
                 <div id="InvoiceDate" class="rightSalesViewClass"> 
                    <div id="invoiceDateDiv" class="rightView" >
                        @Html.Label("Invoice Date", new { @class = "rightView" })
                    </div>
                    <div id="invoiceDateResult" class="rightadjacentSalesView">                  
                                    @Html.Label("Invoice Date", new { @class = "leftView", id = "invoiceDateLabel" })     
                    </div>
                </div>

            </div>

            <div>
            
                 </div>
           <label class="labelHeadingClass">Service Information</label>

            <div id ="serviceInfoGridDiv" class="serviceOrderInfoGridClass" >
       @{
    
           Html.Telerik().Grid<Coinco.SMS.Website.Models.SalesHistory>((IEnumerable<Coinco.SMS.Website.Models.SalesHistory>)ViewData["ServiceInformation"])
        .Name("ServiceInformationGrid")
        
        .Columns(columns =>
        {
            columns.Bound(c => c.SalesServiceOrder).Title("Service Order").Width(120).ReadOnly();                                                                                                                                
            columns.Bound(c => c.SalesPrice).Title("Service Amount").Width(130).ReadOnly();
            columns.Bound(c => c.DateExecution).Title("Date").Width(110).ReadOnly();
            columns.Bound(c => c.Description).Title("Description").ReadOnly();              
        })

        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax().OperationMode(GridOperationMode.Client).Select("_SelectionClientSide_ServiceInfoLines", "CheckIn")
                .Enabled(true);
        } 
        )
        
        .HtmlAttributes(new { style = "font-size: 8pt; font-family: Verdana;" })
        .Scrollable(c => c.Height("180px"))
        .Pageable((pager => pager.PageSize(10)))
        .Sortable()
        .Selectable()
        .Filterable()
       .Render();
    
        }
      
        
        </text>)
        
        .Buttons(b => b.Close())
        .Visible(false)
        .Width(790)
        .Height(470)
        .Scrollable(false)
        .Render();
        
}
  </div> 

            <div id="closeButtonDiv" class="submitButtonClass">
                <button class="t-button" type="button" id="Close" value="Close">Close</button>     
            </div>

</div>
                @RenderBody()
    </div>
    <footer>
            <div class="float-right">
                <p>Developed by Barry-Wehmiller International Pvt Ltd.<a href = "http://www.bwir.com"> www.bwir.com </a></p>
            </div>
    </footer>
    </div>
   @{Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Combined(false)
                                                         .CacheDurationInDays(5)
                                                         .Compress(false))
                                     .Scripts(scripts =>
		scripts.AddGroup("LayoutGroup", group =>
			group.Add("~/Scripts/telerik.extensions.js")))
                                                         .jQuery(true)
                                                         .Render();
                                                         
}
         
</body>
</html>

<script type="text/javascript" >


    jQuery('#Close').click(function () {
        $('#SalesDetailsHistory').data('tWindow').close();

    });
</script>