@using Telerik.Web.Mvc.UI
@model Coinco.SMS.Website.Models.ServiceOrder

 <div class="addressDiv">
        <h6>
            Address and Contact</h6>
        <div class="addLineleftcolumn">
            <label>
                Customer Name:</label>

              @{if (Model.Customer.CustomerName != null)
              {
            
                @Html.Label(Model..Customer.CustomerName, new { @class = "leftView", id = "customerNameLabel" })     
              }
              else
              {
                @Html.Label("", new { @class = "leftView", id = "customerNameLabel" })     
              }
              }
         
            <label>
                Service Technician:</label>
            @Html.DisplayFor(x => x.ServiceTechnician.ServiceTechnicianName)<br />
            <label>
                Service Responsible:</label>
            @Html.DisplayFor(x => x.ServiceResponsible.ServiceTechnicianName)<br />
            <label>
                Customer PO:</label>
            @Html.DisplayFor(x => x.CustomerPO)<br />
        </div>
        <div class="centercolumn">
            <label>
                Billing Address:</label>
            @Html.DisplayFor(x => x.WOBillingAddress)<br />
        </div>
        <div class="addLineRightcolumn">
            <label>
                Shipping Address:</label>
            @Html.DisplayFor(x => x.WOBillingAddress)<br />
        </div>
    </div>