@model Coinco.SMS.Website.Models.SerivceOrderPartLine
@using Telerik.Web.Mvc.UI
@using Telerik.Web.Mvc
@{
    ViewBag.Title = "Order Process";
}
<style type="text/css">
    div
    {
        font-weight: normal;
        font-style: normal;
        font-size: 1.02em;
    }
    .ui-widget
    {
        font-family: inherit;
        font-size: inherit;
    }
</style>
<div class="pageCointainer" id="pageCointainer">
    <div id="serviceProcessDiv" class="serviceProcessDiv">
        <div class="leftcolumn">
            @Html.Label("Service Order:", new { @class = "labelHeaderView", id = "serviceOrderLabel" })
            @Html.Label(TempData["ServiceOrderId"].ToString(), new { @class = "labelViewSO", id = "serviceOrderViewlabel" })
            <br />
            @Html.Label("Serial Number:", new { @class = "labelHeaderView", id = "serialNumberLabel" })
            @{Html.Telerik().ComboBox().Name("slNumberDropDownList")
            .BindTo((SelectList)ViewData["WorkSerialNumberList"])
            .ClientEvents(e => e.OnChange("onserialNumberDropDownChange"))
            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
            .Render();
            }
            <span class="mandatory">*</span>
            <br />
        </div>
        <div id="partNumberView">
            @{Html.RenderPartial("PartDetailsView", Model.ServiceOrderLine);}
        </div>
    </div>
    <div class="addLinesDiv" id="addLinesDiv">
        <div class="addLineleftcolumn">
            <div class="header1">
                Add Lines</div>
            @Html.Label("Transaction Type:", new { @class = "labelHeaderSPView", id = "transactionHeadLabel" })
            @{Html.Telerik().ComboBox().Name("transactionTypeDropDownList")
            .DataBinding(binding => binding.Ajax().Select("_GetTransactionTypes", "WorkOrder"))

            .ClientEvents(e => e.OnChange("ontransactionHide"))
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)

            .Render();
            }
            <span class="mandatory">*</span>
            <br />
            @Html.Label("Description:", new { @class = "labelHeaderSPView", id = "descriptionHeadLabel" })
            @Html.TextAreaFor(x => x.Description, new { id = "descriptionText" })
            <br />
            @Html.Label("Failure Code:", new { @class = "labelHeaderSPView", id = "failureCodeeHeadLabel" })
            @{Html.Telerik().ComboBox().Name("failureCodeDropDownList")
            .BindTo((SelectList)ViewData["FailureCodeList"])
            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)

            .Render();
            }
            <br />
            @Html.Label("Specialty Code:", new { @class = "labelHeaderSPView", id = "specialtyCodeHeadLabel" })
            @{Html.Telerik().ComboBox().Name("specialtyCodeDropDownList")
            .DataBinding(binding => binding.Ajax().Select("_GetDropDownListSpecialtyCode", "WorkOrder"))
            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
                  //.ClientEvents(events => events.OnChange("onSpecialityCodeChange"))
            .ClientEvents(events => events.OnError("SpecialityCode_OnError"))
            .Render();
            }
            <span class="mandatory">*</span>
            @Html.Label("Line Property:", new { @class = "labelHeaderSPView", id = "linePropertyHeadLabel" })
            @{Html.Telerik().ComboBox().Name("LinePropertyDropDownList")
            .BindTo((SelectList)ViewData["LinePropertyList"])
            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
            .Render();
            }
            <span class="mandatory">*</span>
            <br />
        </div>
        <div class="addLinecentercolumn">
            @Html.Label("Quantity:", new { @class = "labelHeaderSPView", id = "quantityHeadLabel" })
            @Html.TextBox("quantityText", "1", new { @class = "textBoxPropertiesSP", maxlength = "5" })
            <br />
            @Html.Label("Technician:", new { @class = "labelHeaderSPView", id = "techniacianHeadLabel" })
            @{Html.Telerik().ComboBox().Name("techniacianDropDownList")
            .BindTo((SelectList)ViewData["ServiceTechnicianLoadList"])

            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
            .Render();
            }
            <span class="mandatory">*</span>
            <br />
            @Html.Label("Service Comments:", new { @class = "labelHeaderSPView", id = "commentsHeadLabel" })
            @Html.TextAreaFor(x => x.ServiceComments, new { id = "commentsText" })
            <br />
            @Html.TextBoxFor(x => x.UniqueId, new { @class = "singleTextBox", id = "uniqueText", @type = "hidden" })<br />
            @Html.TextBoxFor(x => x.ServiceObjectRelation, new { @class = "singleTextBox", id = "serviceObjectText", @type = "hidden" })<br />
        </div>
        <div class="addLineRightcolumn" id="addLineRightcolumn">
            <div class="topDimensioncolumn">
                <div class="header1">
                    Storage Dimension</div>
                @Html.Label("Item Number:", new { @class = "labelHeaderSPView", id = "itemNumberHeadLabel" })
                @{Html.Telerik().ComboBox().Name("itemNumberDropDownList")
            .BindTo((SelectList)ViewData["PartNumberList"])
            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
               .ClientEvents(events => events.OnChange("onItemNumberSiteChange"))

            .Render();
                }
                <span class="mandatory">*</span>
                @Html.Label("Site:", new { @class = "labelHeaderSPView", id = "siteHeadLabel" })
                @{Html.Telerik().ComboBox().Name("siteComboBox")
            .BindTo((SelectList)ViewData["siteList"])
            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
                .ClientEvents(events => events.OnChange("onItemNumberSiteChange"))
            .Render();
                }
                <span class="mandatory">*</span> @*@Html.DropDownListFor(x => x.Site.SiteID, new SelectList(""), "<--Select One-->", new { @class = "dropDownPropertiesSP", id = "LinePropertyDropDownList" })*@
                @Html.Label("Warehouse:", new { @class = "labelHeaderSPView", id = "wareHouseHeadLabel" })
                @{Html.Telerik().ComboBox().Name("wareHouseDropDownList")

            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
            .ClientEvents(events => events.OnChange("onwareHouseChange"))
            .ClientEvents(events => events.OnError("WareHouse_OnError"))
            .Render();
                }
                @Html.Label("Location:", new { @class = "labelHeaderSPView", id = "locationHeadLabel" })
                @{Html.Telerik().ComboBox().Name("locationDropDownList")
             .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
             .ClientEvents(events => events.OnChange("onlocationChange"))
            .Render();
                }
            </div>
            <div class="centerDimensioncolumn">
                <div class="header1">
                    Tracking Dimension</div>
                @Html.Label("Serial Number:", new { @class = "labelHeaderSPView", id = "serialNoHeadLabel" })
                @{Html.Telerik().ComboBox().Name("trackingSerialNoDropDownList")
             .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)

            .Render();
                }
            </div>
        </div>
    </div>
    <div id="SubmitResult" class="submitResultServiceOrderProcess">
        @{
            if (@Session["SOStatus"].ToString() == "In Process")
            { 
            <button class="t-button" type="button" id="submit" value="submit">
                Add</button>
       
            <button class="t-button" type="button" id="Clear" value="Clear">
                Clear</button>
            }
        }
    </div>
    <div class="partLinesDiv" id="ServicepartLines">
        @{Html.RenderPartial("ServiceOrderPartLinesView");}
    </div>
    <div id="AddressDiv">
        @{Html.RenderPartial("AddressView", Model.ServiceOrders);}
    </div>
</div>
<script type="text/javascript">


    function onserialNumberDropDownChange(e) {

        if (e != null) {
            //            var serialNumber = e.currentTarget.value;

            var serialNumber = $('#slNumberDropDownList').data('tComboBox').text();
            jQuery.ajax({
                url: "../WorkOrder/GetServiceOrderLineBySerialNumberOrderProcess",
                type: 'GET',
                data: { serialNumber: serialNumber },
                success: function (result) {
                    jQuery('#partNumberView').html(result);
                },
                error: function (result) {
                    alert(result.responseText);
                }

            });


            return false;

        }
    }



    function ontransactionHide(e) {

        var transactionType = e.currentTarget.value;
        if (transactionType == "1") {
            $('#addLineRightcolumn').hide();
            var SelectedtransactionId = $('#transactionTypeDropDownList').val();

            if (SelectedtransactionId != "") {
                var getSpecialtyCode = $('#specialtyCodeDropDownList').data('tComboBox');
                getSpecialtyCode.loader.showBusy();

                jQuery.ajax({
                    url: "../WorkOrder/_GetDropDownListSpecialtyCode",
                    type: 'GET',
                    data: { transactionTypeDropDownList: SelectedtransactionId },
                    success: function (result) {
                        getSpecialtyCode.dataBind(result);
                        getSpecialtyCode.loader.hideBusy();
                        getSpecialtyCode.select(0);

                    }


                });
            }
        }
        else if (transactionType == "2") {
            $('#addLineRightcolumn').hide();
            var SelectedtransactionId = $('#transactionTypeDropDownList').val();

            if (SelectedtransactionId != "") {
                var getSpecialtyCode = $('#specialtyCodeDropDownList').data('tComboBox');
                getSpecialtyCode.loader.showBusy();

                jQuery.ajax({
                    url: "../WorkOrder/_GetDropDownListSpecialtyCode",
                    type: 'GET',
                    data: { transactionTypeDropDownList: SelectedtransactionId },
                    success: function (result) {
                        getSpecialtyCode.dataBind(result);
                        getSpecialtyCode.loader.hideBusy();
                        getSpecialtyCode.select(0);

                    }


                });
            }
        }
        else if (transactionType == "4") {
            $('#addLineRightcolumn').hide();
            var SelectedtransactionId = $('#transactionTypeDropDownList').val();

            if (SelectedtransactionId != "") {
                var getSpecialtyCode = $('#specialtyCodeDropDownList').data('tComboBox');
                getSpecialtyCode.loader.showBusy();

                jQuery.ajax({
                    url: "../WorkOrder/_GetDropDownListSpecialtyCode",
                    type: 'GET',
                    data: { transactionTypeDropDownList: SelectedtransactionId },
                    success: function (result) {
                        getSpecialtyCode.dataBind(result);
                        getSpecialtyCode.loader.hideBusy();
                        getSpecialtyCode.select(0);

                    }


                });
            }
        }
        else if (transactionType == "3") {
            $('#addLineRightcolumn').show();

            var SelectedtransactionId = $('#transactionTypeDropDownList').val();

            if (SelectedtransactionId != "") {
                var getSpecialtyCode = $('#specialtyCodeDropDownList').data('tComboBox');
                getSpecialtyCode.loader.showBusy();

                jQuery.ajax({
                    url: "../WorkOrder/_GetDropDownListSpecialtyCode",
                    type: 'GET',
                    data: { transactionTypeDropDownList: SelectedtransactionId },
                    success: function (result) {
                        getSpecialtyCode.dataBind(result);
                        getSpecialtyCode.loader.hideBusy();
                        getSpecialtyCode.select(0);

                    }


                });
            }

            return false;
        }

    }


    jQuery('#submit').click(function () {




        $('#submit').attr('disabled', true);
        var uniqueId = $('#uniqueText').val();
        if (uniqueId == '') {

            var serviceOrderNo = $('#serviceOrderViewlabel')[0].innerHTML;

            var transactionType;
            if ($('#transactionTypeDropDownList').data('tComboBox').value() != null && $('#transactionTypeDropDownList').data('tComboBox').value() != "" && $('#transactionTypeDropDownList').data('tComboBox').selectedIndex != -1) {
                var transactionTypedata = $('#transactionTypeDropDownList').data('tComboBox').data[$('#transactionTypeDropDownList').data('tComboBox').selectedIndex];

                transactionType = transactionTypedata.Value;
            }
            else {

                transactionType = "";
            }



            var specialityCode;
            if ($('#specialtyCodeDropDownList').data('tComboBox').value() != null && $('#specialtyCodeDropDownList').data('tComboBox').value() != "" && $('#specialtyCodeDropDownList').data('tComboBox').selectedIndex != -1) {
                var specialityCodedata = $('#specialtyCodeDropDownList').data('tComboBox').data[$('#specialtyCodeDropDownList').data('tComboBox').selectedIndex];
                specialityCode = specialityCodedata.Value;
            }
            else {
                specialityCode = "";
            }


            var quantity = $('#quantityText').val();



            var lineProperty;
            if ($('#LinePropertyDropDownList').data('tComboBox').value() != null && $('#LinePropertyDropDownList').data('tComboBox').value() != "" && $('#LinePropertyDropDownList').data('tComboBox').selectedIndex != -1) {
                var linePropertydata = $('#LinePropertyDropDownList').data('tComboBox').data[$('#LinePropertyDropDownList').data('tComboBox').selectedIndex];
                lineProperty = linePropertydata.Value;
            }
            else {
                lineProperty = "";
            }


            var description = $('#descriptionText').val();

            var serviceComments = $('#commentsText').val();

            if (transactionType == '3') {
                var itemNumber;
                if ($('#itemNumberDropDownList').data('tComboBox').value() != null && $('#itemNumberDropDownList').data('tComboBox').value() != "" && $('#itemNumberDropDownList').data('tComboBox').selectedIndex != -1) {
                    var itemNumberdata = $('#itemNumberDropDownList').data('tComboBox').data[$('#itemNumberDropDownList').data('tComboBox').selectedIndex];

                    itemNumber = itemNumberdata.Value;
                }
                else {
                    itemNumber = "";
                }

                if ($('#siteComboBox').data('tComboBox').value() != null && $('#siteComboBox').data('tComboBox').value() != "" && $('#siteComboBox').data('tComboBox').selectedIndex != -1) {
                    if ($('#techniacianDropDownList').data('tComboBox').selectedIndex != undefined) {
                        var sitedata = $('#siteComboBox').data('tComboBox').data[$('#siteComboBox').data('tComboBox').selectedIndex];
                        site = sitedata.Value;
                    }
                    else {
                        site = $('#siteComboBox').data('tComboBox').value();
                    }
                }
                else {
                    site = "";
                }




            }

            var updateServiceOrderRelation = $('#serviceObjectText').val();
            if (updateServiceOrderRelation == "") {
                var serviceOrderRelation;
                if ($('#slNumberDropDownList').data('tComboBox').value() != null && $('#slNumberDropDownList').data('tComboBox').value() != "" && $('#slNumberDropDownList').data('tComboBox').selectedIndex != -1) {

                    var serviceOrderRelationdata = $('#slNumberDropDownList').data('tComboBox').data[$('#slNumberDropDownList').data('tComboBox').selectedIndex];
                    serviceOrderRelation = serviceOrderRelationdata.Value;


                }
                else {
                    serviceOrderRelation = "";
                }
            }


            var technicinanNo;
            if ($('#techniacianDropDownList').data('tComboBox').value() != null && $('#techniacianDropDownList').data('tComboBox').value() != "" && $('#techniacianDropDownList').data('tComboBox').selectedIndex != -1) {
                if ($('#techniacianDropDownList').data('tComboBox').selectedIndex != undefined) {
                    var technicinanNodata = $('#techniacianDropDownList').data('tComboBox').data[$('#techniacianDropDownList').data('tComboBox').selectedIndex];
                    technicinanNo = technicinanNodata.Value;
                }
                else {
                    technicinanNo = $('#techniacianDropDownList').data('tComboBox').value();
                }

            }
            else {
                technicinanNo = "";
            }

            var uniqueId = $('#uniqueText').val();


            if ((serviceOrderRelation == "-- Select --") || (serviceOrderRelation == null) || (serviceOrderRelation == '')) {
                alert('Please select the Serial Number.');
                $('#slNumberDropDownList').focus();
                $('#submit').attr('disabled', false);
                return;

            }

            if ((transactionType == '') || (transactionType == null) || (transactionType == "-- Select --")) {
                alert('Please select the Transaction Type.');
                //$('#transactionTypeDropDownList').addClass("input-validation-error");
                $('#transactionTypeDropDownList').focus();
                $('#submit').attr('disabled', false);
                return;

            }

            if ((specialityCode == '') || (specialityCode == null) || (specialityCode == "-- Select --")) {
                alert('Please select the Specialty Code.');
                //$('#specialtyCodeDropDownList').addClass("input-validation-error");
                $('#specialtyCodeDropDownList').focus();
                $('#submit').attr('disabled', false);
                return;
            }


            if ((lineProperty == '') || (lineProperty == null) || (lineProperty == "-- Select --")) {
                alert('Please select the Line property.');
                //$('#LinePropertyDropDownList').addClass("input-validation-error");
                $('#LinePropertyDropDownList').focus();
                $('#submit').attr('disabled', false);
                return;
            }

            if (($.trim(technicinanNo) == '') || (technicinanNo == null) || (technicinanNo == "-- Select --")) {
                alert('Please select the Technician.');
                //$('#LinePropertyDropDownList').addClass("input-validation-error");
                $('#techniacianDropDownList').focus();
                $('#submit').attr('disabled', false);
                return;
            }

            if (transactionType == '3') {
                if (($.trim(itemNumber) == '') || (itemNumber == null) || (itemNumber == "-- Select --")) {
                    alert('Please select the Item Number.');
                    //$('#itemNumberDropDownList').addClass("input-validation-error");
                    $('#itemNumberDropDownList').focus();
                    $('#submit').attr('disabled', false);
                    return;
                }

                if (($.trim(site) == '') || (site == null) || (site == "-- Select --")) {
                    alert('Please select the Site.');
                    //$('#siteComboBox').addClass("input-validation-error");
                    $('#siteComboBox').focus();
                    $('#submit').attr('disabled', false);
                    return;
                }
            }

            var failureCode;
            if ($('#failureCodeDropDownList').data('tComboBox').value() != null && $('#failureCodeDropDownList').data('tComboBox').value() != "" && $('#failureCodeDropDownList').data('tComboBox').selectedIndex != -1) {
                var failureCodedata = $('#failureCodeDropDownList').data('tComboBox').data[$('#failureCodeDropDownList').data('tComboBox').selectedIndex];
                failureCode = failureCodedata.Value;
            }
            else {
                if ($('#failureCodeDropDownList').data('tComboBox').value() != "-- Select --" && $('#failureCodeDropDownList').data('tComboBox').value() != "") {
                    alert('Invalid Failure Code.');
                    $('#submit').attr('disabled', false);
                    return;
                }
            }

            if (transactionType == '3') {
                var wareHouse;
                if ($('#wareHouseDropDownList').data('tComboBox').value() != null && $('#wareHouseDropDownList').data('tComboBox').value() != "" && $('#wareHouseDropDownList').data('tComboBox').selectedIndex != -1) {
                    var wareHousedata = $('#wareHouseDropDownList').data('tComboBox').data[$('#wareHouseDropDownList').data('tComboBox').selectedIndex];

                    wareHouse = wareHousedata.Value;
                }
                else {

                    wareHouse = "";
                }

                var locationId;
                if ($('#locationDropDownList').data('tComboBox').value() != null && $('#locationDropDownList').data('tComboBox').value() != "" && $('#locationDropDownList').data('tComboBox').selectedIndex != -1) {
                    var locationIddata = $('#locationDropDownList').data('tComboBox').data[$('#locationDropDownList').data('tComboBox').selectedIndex];

                    locationId = locationIddata.Value;
                }
                else {

                    locationId = "";
                }

                var transSerialCodeNo;
                if ($('#trackingSerialNoDropDownList').data('tComboBox').value() != null && $('#trackingSerialNoDropDownList').data('tComboBox').value() != "" && $('#trackingSerialNoDropDownList').data('tComboBox').selectedIndex != -1) {
                    var transSerialCodeNodata = $('#trackingSerialNoDropDownList').data('tComboBox').data[$('#trackingSerialNoDropDownList').data('tComboBox').selectedIndex];
                    transSerialCodeNo = transSerialCodeNodata.Value;
                }
                else {
                    transSerialCodeNo = "";
                }
            }


            if (itemNumber == '-- Select --') {
                itemNumber = '';
            }

            if (site == '-- Select --') {
                site = '';
            }

            if (failureCode == '-- Select --') {
                failureCode = '';
            }
            if (technicinanNo == '-- Select --') {
                technicinanNo = '';
            }

            if (description == '') {
                description = '';
            }
            if (serviceComments == '') {
                serviceComments = '';
            }
            if (wareHouse == '-- Select --') {
                wareHouse = '';
            }
            if (locationId == '-- Select --') {
                locationId = '';
            }
            if (transSerialCodeNo == '-- Select --') {
                transSerialCodeNo = '';
            }
            if (quantity == null) {

                quantity = '1';
            }


            jQuery.ajax({
                url: "../WorkOrder/CreateServiceOrderPartLines",
                type: 'POST',

                data: { serviceOrderNo: serviceOrderNo, transactionType: transactionType, technicinanNo: technicinanNo, quantity: quantity, specialityCode: specialityCode, failureCode: failureCode, lineProperty: lineProperty, serviceOrderRelation: serviceOrderRelation, description: description, serviceComments: serviceComments, itemNumber: itemNumber, site: site, wareHouse: wareHouse, transSerialCodeNo: transSerialCodeNo, locationId: locationId },
                success: function (result) {
                    jQuery('#ServicepartLines').html(result);

                    alert('Service Order Part Lines Created Successfully');
                    $('#transactionTypeDropDownList').data('tComboBox').value('');
                    $('#slNumberDropDownList').data('tComboBox').value('-- Select --');
                    $('#quantityText').val('1');
                    $('#transactionTypeDropDownList').data('tComboBox').value('-- Select --');
                    $('#specialtyCodeDropDownList').data('tComboBox').value('-- Select --');
                    //                    $('#techniacianDropDownList').data('tComboBox').value('-- Select --');
                    $('#failureCodeDropDownList').data('tComboBox').value('-- Select --');
                    $('#LinePropertyDropDownList').data('tComboBox').value('-- Select --');
                    $('#itemNumberDropDownList').data('tComboBox').value('-- Select --');
                    $('#wareHouseDropDownList').data('tComboBox').value('-- Select --');
                    $('#locationDropDownList').data('tComboBox').value('-- Select --');
                    $('#trackingSerialNoDropDownList').data('tComboBox').value('');
                    $('#trackingSerialNoDropDownList').data('tComboBox').value('-- Select --');

                    $('#descriptionText').val('');
                    $('#commentsText').val('');
                    $('#submit').text('Add');
                    $('#uniqueText').val('');
                    $('#serviceObjectText').val('');
                    $('#partNumberLabel').text("");
                    $('#repairTypeLabel').text("");
                    $('#warrantyLabel').text("");
                    $('#submit').attr('disabled', false);

                },
                error: function (result) {
                    alert('Service Order Part Lines Creation failed');
                }

            });
        }
        else {

            var serviceOrderNo = $('#serviceOrderViewlabel')[0].innerHTML;
            debugger
            var transactionType;
            //            if ($('#transactionTypeDropDownList').data('tComboBox').value() != null && $('#transactionTypeDropDownList').data('tComboBox').value() != "" && $('#transactionTypeDropDownList').data('tComboBox').selectedIndex != -1) {
            //                if ($('#transactionTypeDropDownList').data('tComboBox').selectedIndex != undefined) {
            //                    var transactionTypedata = $('#transactionTypeDropDownList').data('tComboBox').data[$('#transactionTypeDropDownList').data('tComboBox').selectedIndex];

            //                    transactionType = transactionTypedata.Value;
            //                }
            //            }
            //            else {

            //                transactionType = $('#transactionTypeDropDownList').data('tComboBox').value();
            //            }

            if ($('#transactionTypeDropDownList').data('tComboBox').value() == 'Hour') {
                transactionType = '1';
            }
            else if ($('#transactionTypeDropDownList').data('tComboBox').value() == 'Fee') {
                transactionType = '2';
            }
            else if ($('#transactionTypeDropDownList').data('tComboBox').value() == 'Item') {
                transactionType = '3';
            }
            else if ($('#transactionTypeDropDownList').data('tComboBox').value() == 'Expense') {
                transactionType = '4';
            }
            var technicinanNo;
            if ($('#techniacianDropDownList').data('tComboBox').value() != null && $('#techniacianDropDownList').data('tComboBox').value() != "" && $('#techniacianDropDownList').data('tComboBox').selectedIndex != -1) {
                if ($('#techniacianDropDownList').data('tComboBox').selectedIndex != undefined) {
                    var technicinanNodata = $('#techniacianDropDownList').data('tComboBox').data[$('#techniacianDropDownList').data('tComboBox').selectedIndex];
                    technicinanNo = technicinanNodata.Value;
                }
                else {
                    alert('Invalid Technician.');
                    $('#submit').attr('disabled', false);
                    return;
                }

            }


            var specialityCode;
            if ($('#specialtyCodeDropDownList').data('tComboBox').value() != null && $('#specialtyCodeDropDownList').data('tComboBox').value() != "" && $('#specialtyCodeDropDownList').data('tComboBox').selectedIndex != -1) {
                var specialityCodedata = $('#specialtyCodeDropDownList').data('tComboBox').data[$('#specialtyCodeDropDownList').data('tComboBox').selectedIndex];
                specialityCode = specialityCodedata.Value;
            }
            else {
                alert('Invalid Specialty Code.');
                $('#submit').attr('disabled', false);
                return;
            }


            var quantity = $('#quantityText').val();

            var lineProperty;
            if ($('#LinePropertyDropDownList').data('tComboBox').value() != null && $('#LinePropertyDropDownList').data('tComboBox').value() != "" && $('#LinePropertyDropDownList').data('tComboBox').selectedIndex != -1) {
                var linePropertydata = $('#LinePropertyDropDownList').data('tComboBox').data[$('#LinePropertyDropDownList').data('tComboBox').selectedIndex];
                lineProperty = linePropertydata.Value;
            }
            else {
                alert('Invalid line Property.');
                $('#submit').attr('disabled', false);
                return;
            }



            var description = $('#descriptionText').val();

            var serviceComments = $('#commentsText').val();

            if (transactionType == '3') {
       

                var itemNumber = $('#itemNumberDropDownList').val();

                if ($('#siteComboBox').data('tComboBox').value() != null && $('#siteComboBox').data('tComboBox').value() != "" && $('#siteComboBox').data('tComboBox').selectedIndex != -1) {
                    if ($('#siteComboBox').data('tComboBox').selectedIndex != undefined) {
                        var sitedata = $('#siteComboBox').data('tComboBox').data[$('#siteComboBox').data('tComboBox').selectedIndex];
                        site = sitedata.Value;
                    }
                    else
                    {
                        alert('Invalid Site Selection.');
                        $('#submit').attr('disabled', false);
                        return;
                    }
                }

                var wareHouse;
                if ($('#wareHouseDropDownList').data('tComboBox').value() != null && $('#wareHouseDropDownList').data('tComboBox').value() != "" && $('#wareHouseDropDownList').data('tComboBox').selectedIndex != -1) {
                    var wareHousedata = $('#wareHouseDropDownList').data('tComboBox').data[$('#wareHouseDropDownList').data('tComboBox').selectedIndex];

                    wareHouse = wareHousedata.Value;
                }
                else {

                    alert('Invalid Ware House.');
                    $('#submit').attr('disabled', false);
                    return;
                }

                var locationId;
                if ($('#locationDropDownList').data('tComboBox').value() != null && $('#locationDropDownList').data('tComboBox').value() != "" && $('#locationDropDownList').data('tComboBox').selectedIndex != -1) {
                    var locationIddata = $('#locationDropDownList').data('tComboBox').data[$('#locationDropDownList').data('tComboBox').selectedIndex];

                    locationId = locationIddata.Value;
                }
                else {

                    alert('Invalid location.');
                    $('#submit').attr('disabled', false);
                    return;
                }

                var transSerialCodeNo;
                if ($('#trackingSerialNoDropDownList').data('tComboBox').value() != null && $('#trackingSerialNoDropDownList').data('tComboBox').value() != "" && $('#trackingSerialNoDropDownList').data('tComboBox').selectedIndex != -1) {
                    var transSerialCodeNodata = $('#trackingSerialNoDropDownList').data('tComboBox').data[$('#trackingSerialNoDropDownList').data('tComboBox').selectedIndex];
                    transSerialCodeNo = transSerialCodeNodata.Value;
                }
                else {
                    alert('Invalid Tracking Serial Number .');
                    $('#submit').attr('disabled', false);
                    return;
                }


            }
        

            var failureCode;
            if ($('#failureCodeDropDownList').data('tComboBox').value() != null && $('#failureCodeDropDownList').data('tComboBox').value() != "" && $('#failureCodeDropDownList').data('tComboBox').selectedIndex != -1) {
                var failureCodedata = $('#failureCodeDropDownList').data('tComboBox').data[$('#failureCodeDropDownList').data('tComboBox').selectedIndex];
                failureCode = failureCodedata.Value;
            }
            else {

                alert('Invalid Failure Code.');
                $('#submit').attr('disabled', false);
                return;

            }

          
            var serviceComments = $('#commentsText').val();

            var itemNumber = $('#itemNumberDropDownList').val();

            var site = $('#siteComboBox').val();
            var wareHouse = $('#wareHouseDropDownList').val();

            var locationId = $('#locationDropDownList').val();

            var transSerialCodeNo = $('#trackingSerialNoDropDownList').val();

            var serviceOrderRelation = $('#slNumberDropDownList').val();

            var uniqueId = $('#uniqueText').val();
            var updateServiceOrderRelation = $('#serviceObjectText').val();





            if (itemNumber == '-- Select --') {
                itemNumber = '';
            }

            if (site == '-- Select --') {
                site = '';
            }

            if (failureCode == '-- Select --') {
                failureCode = '';
            }
            if (technicinanNo == '-- Select --') {
                technicinanNo = '';
            }

            if (description == '') {
                description = '';
            }
            if (serviceComments == '') {
                serviceComments = '';
            }
            if (wareHouse == '-- Select --') {
                wareHouse = '';
            }
            if (locationId == '-- Select --') {
                locationId = '';
            }
            if (transSerialCodeNo == '-- Select --') {
                transSerialCodeNo = '';
            }
            if (quantity == null) {

                quantity = '1';
            }
            jQuery.ajax({
                url: "../WorkOrder/UpdateServiceOrderPartLines",
                type: 'POST',

                data: { uniqueId: uniqueId, serviceOrderNo: serviceOrderNo, transactionType: transactionType, technicinanNo: technicinanNo, quantity: quantity, specialityCode: specialityCode, failureCode: failureCode, lineProperty: lineProperty, serviceOrderRelation: updateServiceOrderRelation, description: description, serviceComments: serviceComments, itemNumber: itemNumber, site: site, wareHouse: wareHouse, transSerialCodeNo: transSerialCodeNo, locationId: locationId },
                success: function (result) {
                    jQuery('#ServicepartLines').html(result);

                    alert('Service Order Part Lines Updated Successfully');
                    $('#transactionTypeDropDownList').data('tComboBox').value('-- Select --');
                    $('#quantityText').val('1');
                    //                    $('#techniacianDropDownList').data('tComboBox').value('-- Select --');
                    $('#slNumberDropDownList').data('tComboBox').value('-- Select --');
                    $('#specialtyCodeDropDownList').data('tComboBox').value('-- Select --');
                    $('#failureCodeDropDownList').data('tComboBox').value('-- Select --');
                    $('#LinePropertyDropDownList').data('tComboBox').value('-- Select --');
                    $('#itemNumberDropDownList').data('tComboBox').value('-- Select --');
                    $('#wareHouseDropDownList').data('tComboBox').value('-- Select --');
                    $('#locationDropDownList').data('tComboBox').value('-- Select --');
                    $('#trackingSerialNoDropDownList').data('tComboBox').value('-- Select --');
                    $('#descriptionText').val('');
                    $('#commentsText').val('');
                    $('#submit').text('Add');
                    $('#uniqueText').val('');
                    $('#serviceObjectText').val('');
                    $('#submit').attr('disabled', false);
                    $("#transactionTypeDropDownList").data("tComboBox").enable();
                    $('#transactionTypeDropDownList').removeClass('t-state-disabled').removeAttr('disabled');
                    $('#slNumberDropDownList').data('tComboBox').enable();
                    $('#slNumberDropDownList').removeClass('t-state-disabled').removeAttr('disabled');
                    //                    $('#techniacianDropDownList').data("tComboBox").enable();
                    //                    $('#techniacianDropDownList').removeClass('t-state-disabled').removeAttr('disabled');
                    $('#itemNumberDropDownList').data('tComboBox').enable();
                    $('#itemNumberDropDownList').removeClass('t-state-disabled').removeAttr('disabled',
                    'disabled');
                    //                    $('#siteComboBox').data('tComboBox').enable();
                    //                    $('#siteComboBox').removeClass('t-state-disabled').removeAttr('disabled',
                    //                    'disabled');
                    //                    $('#LinePropertyDropDownList').data('tComboBox').enable();
                    //                    $('#LinePropertyDropDownList').removeClass('t-state-disabled').removeAttr('disabled',
                    //                   'disabled');
                    $('#partNumberLabel').text("");
                    $('#repairTypeLabel').text("");
                    $('#warrantyLabel').text("");
                },
                error: function (result) {
                    alert('Service Order Part Lines Updation failed');
                }

            });

        }
        return false;
    });



    jQuery('#Clear').click(function () {

        $('#transactionTypeDropDownList').data('tComboBox').value('-- Select --');
        $('#quantityText').val('1');
        $('#slNumberDropDownList').data('tComboBox').value('-- Select --');
        $('#techniacianDropDownList').data('tComboBox').value('-- Select --');
        $('#specialtyCodeDropDownList').data('tComboBox').value('-- Select --');
        $('#failureCodeDropDownList').data('tComboBox').value('-- Select --');
        $('#LinePropertyDropDownList').data('tComboBox').value('-- Select --');
        $('#itemNumberDropDownList').data('tComboBox').value('-- Select --');
        $('#wareHouseDropDownList').data('tComboBox').value('-- Select --');
        $('#locationDropDownList').data('tComboBox').value('-- Select --');
        $('#trackingSerialNoDropDownList').data('tComboBox').value('-- Select --');
        $('#slNumberDropDownList').data('tComboBox').enable();
        $('#slNumberDropDownList').removeClass('t-state-disabled').removeAttr('disabled');
        $('#descriptionText').val('');
        $('#commentsText').val('');
        $('#submit').text('Add');
        $('#uniqueText').val('');
        $('#serviceObjectText').val('');
        $('#submit').attr('disabled', false);
        $("#transactionTypeDropDownList").data("tComboBox").enable();
        $('#transactionTypeDropDownList').removeClass('t-state-disabled').removeAttr('disabled');
        //        $('#specialtyCodeDropDownList').data('tComboBox').enable();
        //        $('#specialtyCodeDropDownList').removeClass('t-state-disabled').removeAttr('disabled');
        //        $('#techniacianDropDownList').data("tComboBox").enable();
        //        $('#techniacianDropDownList').removeClass('t-state-disabled').removeAttr('disabled');
        $('#itemNumberDropDownList').data('tComboBox').enable();
        $('#itemNumberDropDownList').removeClass('t-state-disabled').removeAttr('disabled',
                'disabled');
        //        $('#siteComboBox').data('tComboBox').enable();
        ////        $('#siteComboBox').removeClass('t-state-disabled').removeAttr('disabled',
        //                'disabled');
        //        $('#LinePropertyDropDownList').data('tComboBox').enable();
        //        $('#LinePropertyDropDownList').removeClass('t-state-disabled').removeAttr('disabled',
        //                   'disabled');
        $('#partNumberLabel').text("");
        $('#repairTypeLabel').text("");
        $('#warrantyLabel').text("");

    });

    function onItemNumberSiteChange(e) {


        var SelectedSiteId = $('#siteComboBox').val();
        var SelectedItemNumber = $('#itemNumberDropDownList').val();
        if (SelectedItemNumber != "" | SelectedSiteId != "") {
            var getwareHouse = $('#wareHouseDropDownList').data('tComboBox');
            $('#wareHouseDropDownList').data('tComboBox').value('-- Select --');
            $('#locationDropDownList').data('tComboBox').value('-- Select --');
            $('#trackingSerialNoDropDownList').data('tComboBox').value('-- Select --');
            getwareHouse.loader.showBusy();

            jQuery.ajax({
                url: "../WorkOrder/_GetDropDownWareHouse",
                type: 'GET',
                data: { partNumberDropDownList: SelectedItemNumber, siteComboBox: SelectedSiteId },
                success: function (result) {
                    getwareHouse.dataBind(result);
                    getwareHouse.loader.hideBusy();
                    getwareHouse.select(0);

                }


            });

        }
        return false;

    }



    function onSpecialityCodeChange(e) {


        var SelectedtransactionId = $('#transactionTypeDropDownList').val();
        var SelectedSpecialityCode = $('#specialtyCodeDropDownList').val();
        if (SelectedtransactionId != "" & SelectedSpecialityCode != "") {
            var gettechniacian = $('#techniacianDropDownList').data('tComboBox');
            gettechniacian.loader.showBusy();

            jQuery.ajax({
                url: "../WorkOrder/_GetDropDownListTechnicianSpecialtyCode",
                type: 'GET',
                data: { transactionTypeDropDownList: SelectedtransactionId, specialtyCodeDropDownList: SelectedSpecialityCode },
                success: function (result) {
                    gettechniacian.dataBind(result);
                    gettechniacian.loader.hideBusy();
                    gettechniacian.select(0);

                }


            });
        }

        return false;

    }


    function onwareHouseChange(e) {

        var SelectedSiteId = $('#siteComboBox').val();
        var SelectedItemNumber = $('#itemNumberDropDownList').val();
        var SelectedwarehouseId = $('#wareHouseDropDownList').val();
        if (SelectedItemNumber != "" | SelectedSiteId != "" | SelectedwarehouseId != "") {
            var getLocation = $('#locationDropDownList').data('tComboBox');
            $('#locationDropDownList').data('tComboBox').value('-- Select --');
            $('#trackingSerialNoDropDownList').data('tComboBox').value('-- Select --');
            getLocation.loader.showBusy();

            jQuery.ajax({
                url: "../WorkOrder/_GetLocationList",
                type: 'GET',
                data: { partNumberDropDownList: SelectedItemNumber, siteComboBox: SelectedSiteId, wareHouseDropDownList: SelectedwarehouseId },
                success: function (result) {

                    getLocation.dataBind(result);
                    getLocation.loader.hideBusy();
                    getLocation.select(0);
                }


            });

        }
        return false;

    }

    function onlocationChange(e) {


        var SelectedSiteId = $('#siteComboBox').val();
        var SelectedItemNumber = $('#itemNumberDropDownList').val();
        var SelectedwarehouseId = $('#wareHouseDropDownList').val();
        if (SelectedItemNumber != "" | SelectedSiteId != "" | SelectedwarehouseId != "") {
            var SelectedlocationId = $('#locationDropDownList').val();
            if (SelectedlocationId != "") {
                SelectedlocationId = $('#locationDropDownList').val();
            }
            else {
                SelectedlocationId = "";
            }
            var gettrackingSerialNo = $('#trackingSerialNoDropDownList').data('tComboBox');
            $('#trackingSerialNoDropDownList').data('tComboBox').value('-- Select --');
            gettrackingSerialNo.loader.showBusy();
            jQuery.ajax({
                url: "../WorkOrder/_GetTransactionSerialNumberList",
                type: 'GET',
                data: { partNumberDropDownList: SelectedItemNumber, siteComboBox: SelectedSiteId, wareHouseDropDownList: SelectedwarehouseId, locationDropDownList: SelectedlocationId },
                success: function (result) {

                    gettrackingSerialNo.dataBind(result);
                    gettrackingSerialNo.loader.hideBusy();
                    gettrackingSerialNo.select(0);
                }


            });
        }

        return false;

    }

    function ComboBox_OnError(e) {
        var combobox = $(this).data('tComboBox'); // $(this) is equivalent to $('#ComboBox')

        //the current XMLHttpRequest object
        var xhr = e.XMLHttpRequest;
        //the text status of the error - 'timeout', 'error' etc.
        var status = e.textStatus;

        if (status == 'error') {
            //xhr.status is the HTTP code returned by the server
            if (xhr.status == "404") {
                alert("Select the Transaction Type and Specailty Code to choose Technician")
            }
        }

        //To prevent the default error handling (which is to alert the error message) you can call `preventDefault`

        e.preventDefault();
    }

    function SpecialityCode_OnError(e) {
        var combobox = $(this).data('tComboBox'); // $(this) is equivalent to $('#ComboBox')

        //the current XMLHttpRequest object
        var xhr = e.XMLHttpRequest;
        //the text status of the error - 'timeout', 'error' etc.
        var status = e.textStatus;

        if (status == 'error') {
            //xhr.status is the HTTP code returned by the server
            if (xhr.status == "404") {
//                alert("Select the Specailty Code")
            }
        }

        //To prevent the default error handling (which is to alert the error message) you can call `preventDefault`

        e.preventDefault();
    }


    function WareHouse_OnError(e) {
        var combobox = $(this).data('tComboBox'); // $(this) is equivalent to $('#ComboBox')

        //the current XMLHttpRequest object
        var xhr = e.XMLHttpRequest;
        //the text status of the error - 'timeout', 'error' etc.
        var status = e.textStatus;

        if (status == 'error') {
            //xhr.status is the HTTP code returned by the server
            if (xhr.status == "404") {
                alert("Select the Item Number and Site to choose Ware House")
            }
        }

        //To prevent the default error handling (which is to alert the error message) you can call `preventDefault`

        e.preventDefault();
    }

</script>
