@model Coinco.SMS.Website.Models.SerivceOrderPartLine
@using Telerik.Web.Mvc.UI
@using Telerik.Web.Mvc
@{
    ViewBag.Title = "Order Process";
}
<style type="text/css">
    div
    {
        font-weight: normal;
        font-style: normal;
        font-size: 1.02em;
    }
    .ui-widget
    {
        font-family: inherit;
        font-size: inherit;
    }
</style>
<div class="pageCointainer" id="pageCointainer">
    <div id="serviceProcessDiv" class="serviceProcessDiv">
        <div class="leftcolumn">
            @Html.Label("Service Order:", new { @class = "labelHeaderView", id = "serviceOrderLabel" })
            @Html.Label(TempData["ServiceOrderId"].ToString(), new { @class = "labelViewSO", id = "serviceOrderViewlabel" })
            <br />
            @Html.Label("Serial Number:", new { @class = "labelHeaderView", id = "serialNumberLabel" })
            @{Html.Telerik().ComboBox().Name("slNumberDropDownList")
            .BindTo((SelectList)ViewData["WorkSerialNumberList"])
            .ClientEvents(e => e.OnChange("onserialNumberDropDownChange"))
            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
            .Render();
            }
            <span class="mandatory">*</span>
            <br />
        </div>
        <div id="partNumberView">
            @{Html.RenderPartial("PartDetailsView", Model.ServiceOrderLine);}
        </div>
    </div>
    <div class="addLinesDiv" id="addLinesDiv">
        <div class="addLineleftcolumn">
            <div class="header1">
                Add Lines</div>
            @Html.Label("Transaction Type:", new { @class = "labelHeaderSPView", id = "transactionHeadLabel" })
            @{Html.Telerik().ComboBox().Name("transactionTypeDropDownList")
            .DataBinding(binding => binding.Ajax().Select("_GetTransactionTypes", "WorkOrder"))

            .ClientEvents(e => e.OnChange("ontransactionHide"))
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
    
            .Render();
            }
            <span class="mandatory">*</span>
            <br />
            @Html.Label("Description:", new { @class = "labelHeaderSPView", id = "descriptionHeadLabel" })
            @Html.TextAreaFor(x => x.Description, new { id = "descriptionText" })
            <br />
            @Html.Label("Failure Code:", new { @class = "labelHeaderSPView", id = "failureCodeeHeadLabel" })
            @{Html.Telerik().ComboBox().Name("failureCodeDropDownList")
            .BindTo((SelectList)ViewData["FailureCodeList"])
            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)

            .Render();
            }
            <br />
            @Html.Label("Specialty Code:", new { @class = "labelHeaderSPView", id = "specialtyCodeHeadLabel" })
            @{Html.Telerik().ComboBox().Name("specialtyCodeDropDownList")
            .DataBinding(binding => binding.Ajax().Select("_GetDropDownListSpecialtyCode", "WorkOrder"))
            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
            .ClientEvents(events => events.OnChange("onSpecialityCodeChange"))
           .ClientEvents(events => events.OnError("SpecialityCode_OnError"))
            .Render();
            }
            <span class="mandatory">*</span>
            @Html.Label("Line Property:", new { @class = "labelHeaderSPView", id = "linePropertyHeadLabel" })
            @{Html.Telerik().ComboBox().Name("LinePropertyDropDownList")
            .BindTo((SelectList)ViewData["LinePropertyList"])
            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
            .Render();
            }
            <span class="mandatory">*</span>
            <br />
        </div>
        <div class="addLinecentercolumn">
            @Html.Label("Quantity:", new { @class = "labelHeaderSPView", id = "quantityHeadLabel" })
            @Html.TextBox("quantityText", "1", new { @class = "textBoxPropertiesSP", maxlength = "5" })
            <br />
            @Html.Label("Technician:", new { @class = "labelHeaderSPView", id = "techniacianHeadLabel" })
            @{Html.Telerik().ComboBox().Name("techniacianDropDownList")
           
            .DataBinding(binding => binding.Ajax().Select("_GetDropDownListTechnicianSpecialtyCode", "WorkOrder"))
            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .ClientEvents(events => events.OnError("ComboBox_OnError"))
            .SelectedIndex(0)

            .Render();
            }
            <span class="mandatory">*</span>
            <br />
            @Html.Label("Service Comments:", new { @class = "labelHeaderSPView", id = "commentsHeadLabel" })
            @Html.TextAreaFor(x => x.ServiceComments, new { id = "commentsText" })
            <br />
            @Html.TextBoxFor(x => x.UniqueId, new { @class = "singleTextBox", id = "uniqueText", @type = "hidden" })<br />
            @Html.TextBoxFor(x => x.ServiceObjectRelation, new { @class = "singleTextBox", id = "serviceObjectText", @type = "hidden" })<br />
        </div>
        <div class="addLineRightcolumn" id="addLineRightcolumn">
            <div class="topDimensioncolumn">
                <div class="header1">
                    Storage Dimension</div>
                @Html.Label("Item Number:", new { @class = "labelHeaderSPView", id = "itemNumberHeadLabel" })
                @{Html.Telerik().ComboBox().Name("itemNumberDropDownList")
            .BindTo((SelectList)ViewData["PartNumberList"])
            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
               .ClientEvents(events => events.OnChange("onItemNumberSiteChange"))

            .Render();
                }
                <span class="mandatory">*</span>
                @Html.Label("Site:", new { @class = "labelHeaderSPView", id = "siteHeadLabel" })
                @{Html.Telerik().ComboBox().Name("siteComboBox")
            .BindTo((SelectList)ViewData["siteList"])
            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)

            .Render();
                }
                <span class="mandatory">*</span> @*@Html.DropDownListFor(x => x.Site.SiteID, new SelectList(""), "<--Select One-->", new { @class = "dropDownPropertiesSP", id = "LinePropertyDropDownList" })*@
                @Html.Label("Warehouse:", new { @class = "labelHeaderSPView", id = "wareHouseHeadLabel" })
                @{Html.Telerik().ComboBox().Name("wareHouseDropDownList")
                   
            .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
            .ClientEvents(events => events.OnChange("onwareHouseChange"))
            .ClientEvents(events => events.OnError("WareHouse_OnError"))
            .Render();
                }
                @Html.Label("Location:", new { @class = "labelHeaderSPView", id = "locationHeadLabel" })
                @{Html.Telerik().ComboBox().Name("locationDropDownList")
             .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)
             .ClientEvents(events => events.OnChange("onlocationChange"))
            .Render();
                }
            </div>
            <div class="centerDimensioncolumn">
                <div class="header1">
                    Tracking Dimension</div>
                @Html.Label("Serial Number:", new { @class = "labelHeaderSPView", id = "serialNoHeadLabel" })
                @{Html.Telerik().ComboBox().Name("trackingSerialNoDropDownList")
             .Placeholder("-- Select --")
            .HtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .DropDownHtmlAttributes(new { @class = "dropDownPropertiesSP" })
            .SelectedIndex(0)

            .Render();
                }
            </div>
        </div>
    </div>
    <div id="SubmitResult" class="submitResultServiceOrderProcess">
        @{
            if (@Session["SOStatus"].ToString() == "In Process")
            { 
            <button class="t-button" type="button" id="submit" value="submit">
                Add</button>
       
            <button class="t-button" type="button" id="Clear" value="Clear">
                Clear</button>
            }
        }
    </div>
    <div class="partLinesDiv" id="ServicepartLines">
        @{Html.RenderPartial("ServiceOrderPartLinesView");}
    </div>
    <div id="AddressDiv">
        @{Html.RenderPartial("AddressView", Model.ServiceOrders);}
    </div>
</div>
<script type="text/javascript">


    function onserialNumberDropDownChange(e) {
   
    if (e != null) {
//            var serialNumber = e.currentTarget.value;

        var serialNumber = $('#slNumberDropDownList').data('tComboBox').text();
            jQuery.ajax({
                url: "../WorkOrder/GetServiceOrderLineBySerialNumberOrderProcess",
                type: 'GET',
                data: { serialNumber: serialNumber },
                success: function (result) {
                    jQuery('#partNumberView').html(result);
                },
                error: function (result) {
                    alert(result.responseText);
                }

            });


            return false;

        }
    }



    function ontransactionHide(e) {

        var transactionType = e.currentTarget.value;
        if (transactionType == "1") {
            $('#addLineRightcolumn').hide();
            var SelectedtransactionId = $('#transactionTypeDropDownList').val();

            if (SelectedtransactionId != "") {
                var getSpecialtyCode = $('#specialtyCodeDropDownList').data('tComboBox');
                getSpecialtyCode.loader.showBusy();

                jQuery.ajax({
                    url: "../WorkOrder/_GetDropDownListSpecialtyCode",
                    type: 'GET',
                    data: { transactionTypeDropDownList: SelectedtransactionId },
                    success: function (result) {
                        getSpecialtyCode.dataBind(result);
                        getSpecialtyCode.loader.hideBusy();
                        getSpecialtyCode.select(0);

                    }


                });
            }
        }
        else if (transactionType == "2") {
            $('#addLineRightcolumn').hide();
            var SelectedtransactionId = $('#transactionTypeDropDownList').val();

            if (SelectedtransactionId != "") {
                var getSpecialtyCode = $('#specialtyCodeDropDownList').data('tComboBox');
                getSpecialtyCode.loader.showBusy();

                jQuery.ajax({
                    url: "../WorkOrder/_GetDropDownListSpecialtyCode",
                    type: 'GET',
                    data: { transactionTypeDropDownList: SelectedtransactionId },
                    success: function (result) {
                        getSpecialtyCode.dataBind(result);
                        getSpecialtyCode.loader.hideBusy();
                        getSpecialtyCode.select(0);

                    }


                });
            }
        }
        else if (transactionType == "4") {
            $('#addLineRightcolumn').hide();
            var SelectedtransactionId = $('#transactionTypeDropDownList').val();

            if (SelectedtransactionId != "") {
                var getSpecialtyCode = $('#specialtyCodeDropDownList').data('tComboBox');
                getSpecialtyCode.loader.showBusy();

                jQuery.ajax({
                    url: "../WorkOrder/_GetDropDownListSpecialtyCode",
                    type: 'GET',
                    data: { transactionTypeDropDownList: SelectedtransactionId },
                    success: function (result) {
                        getSpecialtyCode.dataBind(result);
                        getSpecialtyCode.loader.hideBusy();
                        getSpecialtyCode.select(0);

                    }


                });
            }
        }
        else if (transactionType == "3") {
            $('#addLineRightcolumn').show();

            var SelectedtransactionId = $('#transactionTypeDropDownList').val();

            if (SelectedtransactionId != "") {
                var getSpecialtyCode = $('#specialtyCodeDropDownList').data('tComboBox');
                getSpecialtyCode.loader.showBusy();

                jQuery.ajax({
                    url: "../WorkOrder/_GetDropDownListSpecialtyCode",
                    type: 'GET',
                    data: { transactionTypeDropDownList: SelectedtransactionId },
                    success: function (result) {
                        getSpecialtyCode.dataBind(result);
                        getSpecialtyCode.loader.hideBusy();
                        getSpecialtyCode.select(0);

                    }


                });
            }

            return false;
        }

    }


    jQuery('#submit').click(function () {

        debugger
        var serviceOrderNo = $('#serviceOrderViewlabel')[0].innerHTML;



        var transactionTypedata = $('#transactionTypeDropDownList').data('tComboBox').data[$('#transactionTypeDropDownList').data('tComboBox').selectedIndex];
        var transactionType;
        if ($('#transactionTypeDropDownList').data('tComboBox').selectedIndex != -1) {
            transactionType = transactionTypedata.Value;
        }
        else {
         
         
            transactionType = "";
        }

        var technicinanNodata = $('#techniacianDropDownList').data('tComboBox').data[$('#techniacianDropDownList').data('tComboBox').selectedIndex];
        var technicinanNo;
        if ($('#techniacianDropDownList').data('tComboBox').selectedIndex != -1) {
            technicinanNo = technicinanNodata.Value;
        }
        else {


            technicinanNo = "";
        }
        

        var technicinanNo = $('#techniacianDropDownList').val();
        var quantity = $('#quantityText').val();
        var specialityCode = $('#specialtyCodeDropDownList').val();
        var failureCode = $('#failureCodeDropDownList').val();

        var lineProperty = $('#LinePropertyDropDownList').val();
        var description = $('#descriptionText').val();

        var serviceComments = $('#commentsText').val();

        var itemNumber = $('#itemNumberDropDownList').val();

        var site = $('#siteComboBox').val();
        var wareHouse = $('#wareHouseDropDownList').val();

        var locationId = $('#locationDropDownList').val();

        var transSerialCodeNo = $('#trackingSerialNoDropDownList').val();

        var serviceOrderRelation = $('#slNumberDropDownList').val();
//        var technicinanNodata = $('#techniacianDropDownList').data('tComboBox').data;
//        var technicinanNo = technicinanNodata[0].Value;

//        var quantity = $('#quantityText').val();

//        var specialityCodedata = $('#specialtyCodeDropDownList').data('tComboBox').data;
//        var specialityCode = specialityCodedata[0].Value;

//        var failureCodedata = $('#failureCodeDropDownList').data('tComboBox').data;
//        var failureCode = failureCodedata[0].Value;


//        var linePropertydata = $('#LinePropertyDropDownList').data('tComboBox').data;
//        var lineProperty = linePropertydata[0].Value;

//        var description = $('#descriptionText').val();

//        var serviceComments = $('#commentsText').val();

//        var itemNumberdata = $('#itemNumberDropDownList').data('tComboBox').data;
//        var itemNumber = itemNumberdata[0].Value;

//        var sitedata = $('#itemNumberDropDownList').data('tComboBox').data;
//        var site = sitedata[0].Value;


//        var wareHouse = $('#wareHouseDropDownList').val();

//        var locationId = $('#locationDropDownList').val();

//        var transSerialCodeNo = $('#trackingSerialNoDropDownList').val();



//        var serviceOrderRelationdata = $('#slNumberDropDownList').data('tComboBox').data;
//        var serviceOrderRelation = serviceOrderRelationdata[0].Value;

        var uniqueId = $('#uniqueText').val();
        var updateServiceOrderRelation = $('#serviceObjectText').val();

        if ((serviceOrderRelation.toString() == "-- Select --") || (serviceOrderRelation == "")) {
            alert('Please select the Serial Number.');
            $('#slNumberDropDownList').focus();

            return;

        }

        if ((transactionType == '') || (transactionType == null) || (transactionType == "-- Select --")) {
            alert('Please select the Transaction Type.');
            //$('#transactionTypeDropDownList').addClass("input-validation-error");
            $('#transactionTypeDropDownList').focus();

            return;

        }

        if ((specialityCode == '') || (specialityCode == null) || (specialityCode == "-- Select --")) {
            alert('Please select the Specialty Code.');
            //$('#specialtyCodeDropDownList').addClass("input-validation-error");
            $('#specialtyCodeDropDownList').focus();

            return;
        }


        if (($.trim(lineProperty) == '') || (lineProperty == null) || (lineProperty == "-- Select --")) {
            alert('Please select the Line property.');
            //$('#LinePropertyDropDownList').addClass("input-validation-error");
            $('#LinePropertyDropDownList').focus();

            return;
        }

        if (($.trim(technicinanNo) == '') || (technicinanNo == null) || (technicinanNo == "-- Select --")) {
            alert('Please select the Technician.');
            //$('#LinePropertyDropDownList').addClass("input-validation-error");
            $('#techniacianDropDownList').focus();

            return;
        }

        if (transactionType == '3') {
            if (($.trim(itemNumber) == '') || (itemNumber == null) || (itemNumber == "-- Select --")) {
                alert('Please select the Item Number.');
                //$('#itemNumberDropDownList').addClass("input-validation-error");
                $('#itemNumberDropDownList').focus();

                return;
            }

            if (($.trim(site) == '') || (site == null) || (site == "-- Select --")) {
                alert('Please select the Site.');
                //$('#siteComboBox').addClass("input-validation-error");
                $('#siteComboBox').focus();

                return;
            }
        }


        if (itemNumber == '-- Select --') {
            itemNumber = '';
        }

        if (site == '-- Select --') {
            site = '';
        }

        if (failureCode == '-- Select --') {
            failureCode = '';
        }
        if (technicinanNo == '-- Select --') {
            technicinanNo = '';
        }

        if (description == '') {
            description = '';
        }
        if (serviceComments == '') {
            serviceComments = '';
        }
        if (wareHouse == '-- Select --') {
            wareHouse = '';
        }
        if (locationId == '-- Select --') {
            locationId = '';
        }
        if (transSerialCodeNo == '-- Select --') {
            transSerialCodeNo = '';
        }
        if (quantity == null) {

            quantity = '1';
        }

        $('#submit').attr('disabled', true);
        if (uniqueId == "") {
            jQuery.ajax({
                url: "../WorkOrder/CreateServiceOrderPartLines",
                type: 'POST',

                data: { serviceOrderNo: serviceOrderNo, transactionType: transactionType, technicinanNo: technicinanNo, quantity: quantity, specialityCode: specialityCode, failureCode: failureCode, lineProperty: lineProperty, serviceOrderRelation: serviceOrderRelation, description: description, serviceComments: serviceComments, itemNumber: itemNumber, site: site, wareHouse: wareHouse, transSerialCodeNo: transSerialCodeNo, locationId: locationId },
                success: function (result) {
                    jQuery('#ServicepartLines').html(result);

                    alert('Service Order Part Lines Created Successfully');
                    $('#transactionTypeDropDownList').data('tComboBox').value('');
                    $('#transactionTypeDropDownList').data('tComboBox').value('--Select--');
                    $('#quantityText').val('1');

                    $('#specialtyCodeDropDownList').data('tComboBox').value('-- Select --');
                    $('#techniacianDropDownList').data('tComboBox').value('-- Select --');
                    $('#failureCodeDropDownList').data('tComboBox').value('-- Select --');
                    $('#LinePropertyDropDownList').data('tComboBox').value('-- Select --');
                    $('#itemNumberDropDownList').data('tComboBox').value('-- Select --');
                    $('#wareHouseDropDownList').data('tComboBox').value('-- Select --');
                    $('#locationDropDownList').data('tComboBox').value('-- Select --');
                    $('#trackingSerialNoDropDownList').data('tComboBox').value('');
                    $('#trackingSerialNoDropDownList').data('tComboBox').value('-- Select --');

                    $('#descriptionText').val('');
                    $('#commentsText').val('');
                    $('#submit').text('Add');
                    $('#uniqueText').val('');
                    $('#serviceObjectText').val('');
                    $('#submit').attr('disabled', false);

                },
                error: function (result) {
                    alert('Service Order Part Lines Creation failed');
                }

            });
        }
        else {


            jQuery.ajax({
                url: "../WorkOrder/UpdateServiceOrderPartLines",
                type: 'POST',

                data: { uniqueId: uniqueId, serviceOrderNo: serviceOrderNo, transactionType: transactionType, technicinanNo: technicinanNo, quantity: quantity, specialityCode: specialityCode, failureCode: failureCode, lineProperty: lineProperty, serviceOrderRelation: updateServiceOrderRelation, description: description, serviceComments: serviceComments, itemNumber: itemNumber, site: site, wareHouse: wareHouse, transSerialCodeNo: transSerialCodeNo, locationId: locationId },
                success: function (result) {
                    jQuery('#ServicepartLines').html(result);

                    alert('Service Order Part Lines Updated Successfully');
                    $('#transactionTypeDropDownList').data('tComboBox').value('-- Select --');
                    $('#quantityText').val('1');
                    $('#techniacianDropDownList').data('tComboBox').value('-- Select --');

                    $('#specialtyCodeDropDownList').data('tComboBox').value('-- Select --');
                    $('#failureCodeDropDownList').data('tComboBox').value('-- Select --');
                    $('#LinePropertyDropDownList').data('tComboBox').value('-- Select --');
                    $('#itemNumberDropDownList').data('tComboBox').value('-- Select --');
                    $('#wareHouseDropDownList').data('tComboBox').value('-- Select --');
                    $('#locationDropDownList').data('tComboBox').value('-- Select --');
                    $('#trackingSerialNoDropDownList').data('tComboBox').value('-- Select --');
                    $('#descriptionText').val('');
                    $('#commentsText').val('');
                    $('#submit').text('Add');
                    $('#uniqueText').val('');
                    $('#serviceObjectText').val('');
                    $('#submit').attr('disabled', false);
                    $("#transactionTypeDropDownList").data("tComboBox").enable();
                    $('#transactionTypeDropDownList').removeClass('t-state-disabled').removeAttr('disabled');
                    $('#specialtyCodeDropDownList').data('tComboBox').enable();
                    $('#specialtyCodeDropDownList').removeClass('t-state-disabled').removeAttr('disabled');
                    $('#techniacianDropDownList').data("tComboBox").enable();
                    $('#techniacianDropDownList').removeClass('t-state-disabled').removeAttr('disabled');
                    $('#itemNumberDropDownList').data('tComboBox').enable();
                    $('#itemNumberDropDownList').removeClass('t-state-disabled').removeAttr('disabled',
                    'disabled');
                    $('#siteComboBox').data('tComboBox').enable();
                    $('#siteComboBox').removeClass('t-state-disabled').removeAttr('disabled',
                    'disabled');
                },
                error: function (result) {
                    alert('Service Order Part Lines Updation failed');
                }

            });

        }
        return false;
    });



    jQuery('#Clear').click(function () {
        $('#transactionTypeDropDownList').data('tComboBox').value('-- Select --');
        $('#quantityText').val('1');

     
        $('#techniacianDropDownList').data('tComboBox').value('-- Select --');
     
        $('#specialtyCodeDropDownList').data('tComboBox').value('-- Select --');

        $('#failureCodeDropDownList').data('tComboBox').value('-- Select --');
        $('#LinePropertyDropDownList').data('tComboBox').value('-- Select --');
        $('#itemNumberDropDownList').data('tComboBox').value('-- Select --');

        $('#wareHouseDropDownList').data('tComboBox').value('-- Select --');
     
        $('#locationDropDownList').data('tComboBox').value('-- Select --');

        $('#trackingSerialNoDropDownList').data('tComboBox').value('-- Select --');
    
        $('#descriptionText').val('');
        $('#commentsText').val('');
        $('#submit').text('Add');
        $('#uniqueText').val('');
        $('#serviceObjectText').val('');
        $('#submit').attr('disabled', false);
        $("#transactionTypeDropDownList").data("tComboBox").enable();
        $('#transactionTypeDropDownList').removeClass('t-state-disabled').removeAttr('disabled');
        $('#specialtyCodeDropDownList').data('tComboBox').enable();
        $('#specialtyCodeDropDownList').removeClass('t-state-disabled').removeAttr('disabled');
        $('#techniacianDropDownList').data("tComboBox").enable();
        $('#techniacianDropDownList').removeClass('t-state-disabled').removeAttr('disabled');
        $('#itemNumberDropDownList').data('tComboBox').enable();
        $('#itemNumberDropDownList').removeClass('t-state-disabled').removeAttr('disabled',
                'disabled');
        $('#siteComboBox').data('tComboBox').enable();
        $('#siteComboBox').removeClass('t-state-disabled').removeAttr('disabled',
                'disabled');          

    });

    function onItemNumberSiteChange(e) {


        var SelectedSiteId = $('#siteComboBox').val();
        var SelectedItemNumber = $('#itemNumberDropDownList').val();
        if (SelectedItemNumber != "" | SelectedSiteId != "") {
            var getwareHouse = $('#wareHouseDropDownList').data('tComboBox');
            $('#wareHouseDropDownList').data('tComboBox').value('-- Select --');
            $('#locationDropDownList').data('tComboBox').value('-- Select --');
            $('#trackingSerialNoDropDownList').data('tComboBox').value('-- Select --');
            getwareHouse.loader.showBusy();

            jQuery.ajax({
                url: "../WorkOrder/_GetDropDownWareHouse",
                type: 'GET',
                data: { partNumberDropDownList: SelectedItemNumber, siteComboBox: SelectedSiteId },
                success: function (result) {
                    getwareHouse.dataBind(result);
                    getwareHouse.loader.hideBusy();
                    getwareHouse.select(0);

                }


            });

        }
        return false;

    }



    function onSpecialityCodeChange(e) {


        var SelectedtransactionId = $('#transactionTypeDropDownList').val();
        var SelectedSpecialityCode = $('#specialtyCodeDropDownList').val();
        if (SelectedtransactionId != "" & SelectedSpecialityCode != "") {
            var gettechniacian = $('#techniacianDropDownList').data('tComboBox');
            gettechniacian.loader.showBusy();

            jQuery.ajax({
                url: "../WorkOrder/_GetDropDownListTechnicianSpecialtyCode",
                type: 'GET',
                data: { transactionTypeDropDownList: SelectedtransactionId, specialtyCodeDropDownList: SelectedSpecialityCode },
                success: function (result) {
                    gettechniacian.dataBind(result);
                    gettechniacian.loader.hideBusy();
                    gettechniacian.select(0);

                }


            });
        }

        return false;

    }


    function onwareHouseChange(e) {

        var SelectedSiteId = $('#siteComboBox').val();
        var SelectedItemNumber = $('#itemNumberDropDownList').val();
        var SelectedwarehouseId = $('#wareHouseDropDownList').val();
        if (SelectedItemNumber != "" | SelectedSiteId != "" | SelectedwarehouseId != "") {
            var getLocation = $('#locationDropDownList').data('tComboBox');
            $('#locationDropDownList').data('tComboBox').value('-- Select --');
            $('#trackingSerialNoDropDownList').data('tComboBox').value('-- Select --');
            getLocation.loader.showBusy();

            jQuery.ajax({
                url: "../WorkOrder/_GetLocationList",
                type: 'GET',
                data: { partNumberDropDownList: SelectedItemNumber, siteComboBox: SelectedSiteId, wareHouseDropDownList: SelectedwarehouseId },
                success: function (result) {

                    getLocation.dataBind(result);
                    getLocation.loader.hideBusy();
                    getLocation.select(0);
                }


            });

        }
        return false;

    }

    function onlocationChange(e) {


        var SelectedSiteId = $('#siteComboBox').val();
        var SelectedItemNumber = $('#itemNumberDropDownList').val();
        var SelectedwarehouseId = $('#wareHouseDropDownList').val();
        if (SelectedItemNumber != "" | SelectedSiteId != "" | SelectedwarehouseId != "") {
            var SelectedlocationId = $('#locationDropDownList').val();
            if (SelectedlocationId != "") {
                SelectedlocationId = $('#locationDropDownList').val();
            }
            else {
                SelectedlocationId = "";
            }
            var gettrackingSerialNo = $('#trackingSerialNoDropDownList').data('tComboBox');
            $('#trackingSerialNoDropDownList').data('tComboBox').value('-- Select --');
            gettrackingSerialNo.loader.showBusy();
            jQuery.ajax({
                url: "../WorkOrder/_GetTransactionSerialNumberList",
                type: 'GET',
                data: { partNumberDropDownList: SelectedItemNumber, siteComboBox: SelectedSiteId, wareHouseDropDownList: SelectedwarehouseId, locationDropDownList: SelectedlocationId },
                success: function (result) {

                    gettrackingSerialNo.dataBind(result);
                    gettrackingSerialNo.loader.hideBusy();
                    gettrackingSerialNo.select(0);
                }


            });
        }

        return false;

    }

    function ComboBox_OnError(e) {
        var combobox = $(this).data('tComboBox'); // $(this) is equivalent to $('#ComboBox')

        //the current XMLHttpRequest object
        var xhr = e.XMLHttpRequest;
        //the text status of the error - 'timeout', 'error' etc.
        var status = e.textStatus;

        if (status == 'error') {
            //xhr.status is the HTTP code returned by the server
            if (xhr.status == "404") {
                alert("Select the Transaction Type and Specailty Code to choose Technician")
            }
        }

        //To prevent the default error handling (which is to alert the error message) you can call `preventDefault`

        e.preventDefault();
    }

    function SpecialityCode_OnError(e) {
        var combobox = $(this).data('tComboBox'); // $(this) is equivalent to $('#ComboBox')

        //the current XMLHttpRequest object
        var xhr = e.XMLHttpRequest;
        //the text status of the error - 'timeout', 'error' etc.
        var status = e.textStatus;

        if (status == 'error') {
            //xhr.status is the HTTP code returned by the server
            if (xhr.status == "404") {
                alert("Select the Transaction Type to choose Specailty Code")
            }
        }

        //To prevent the default error handling (which is to alert the error message) you can call `preventDefault`

        e.preventDefault();
    }


    function WareHouse_OnError(e) {
        var combobox = $(this).data('tComboBox'); // $(this) is equivalent to $('#ComboBox')

        //the current XMLHttpRequest object
        var xhr = e.XMLHttpRequest;
        //the text status of the error - 'timeout', 'error' etc.
        var status = e.textStatus;

        if (status == 'error') {
            //xhr.status is the HTTP code returned by the server
            if (xhr.status == "404") {
                alert("Select the Item Number and Site to choose Ware House")
            }
        }

        //To prevent the default error handling (which is to alert the error message) you can call `preventDefault`

        e.preventDefault();
    }

</script>
